@model EntitiesViewModel

@{ 
    var numberPreSelectedColumns = GlobalConstants.PreSelectedColumnsCount;
    var controller = this.ViewContext.RouteData.Values[EndpointsConstants.ControllerRouteDataValue].ToString();
}

<div class="modal"
     id="columnModal"
     role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <h2 class="text-center">
                        @SharedLocalizer.GetHtmlString("defineLayout")
                    </h2>
                    <select asp-for="PreSelectedColumns" style="width:60%" hidden>
                        @for (int col = 0; col < numberPreSelectedColumns; col++)
                        {
                            <option selected value="@Model.HeadersSelection[col]">
                                @Model.HeadersSelection[col]
                            </option>
                        }
                    </select>

                    <select class="multiselect" multiple="multiple" asp-for="SelectedColumns" style="width:60%">
                        @for (int col = numberPreSelectedColumns; col < Model.HeadersSelection.Count; col++)
                        {
                            <option value="@Model.HeadersSelection[col]">
                                @Model.HeadersSelection[col]
                            </option>
                        }
                    </select>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-save-btn-container">
                    <a id="btn-save-layout"
                       class="btn btn-datagate btn-sm mr-2">
                        @SharedLocalizer.GetHtmlString("Save")
                    </a>

                    <a asp-area=""
                       asp-controller="Layout"
                       asp-action="Default"
                       asp-route-controllerName="@controller"
                       
                       id="btn-default-layout"
                       class="btn btn-datagate btn-sm ml-2">
                        @SharedLocalizer.GetHtmlString("Default")
                    </a>

                </div>

                <div>
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">
                        @SharedLocalizer.GetHtmlString("Close")
                    </button>

                    <input type="submit"
                           name="Command"
                           value=@SharedLocalizer.GetHtmlString("Apply")
                           class="btn btn-datagate ml-2" />
                </div>
            </div>
        </div>
    </div>
</div>