@model EntitiesViewModel

@{
    var controller = this.ViewContext
        .RouteData
        .Values[EndpointsConstants.ControllerRouteDataValue]
        .ToString();
    var routeCreate = StringSwapper.ByController(controller,
                                                 EndpointsConstants.RouteCreate + EndpointsConstants.FundArea,
                                                 EndpointsConstants.RouteCreate + EndpointsConstants.DisplaySub + EndpointsConstants.FundArea,
                                                 EndpointsConstants.RouteCreate + EndpointsConstants.ShareClassArea);
}

<form class="d-flex"
      method="post"
      asp-action="All"
      id="update-form">

    <div>
        <label>@SharedLocalizer.GetHtmlString("As of:")</label>
        <input type="date"
               asp-for="Date"
               min="2018-01-01"
               required>
        <input type="submit"
               class="btn btn-datagate btn-sm mb-1"
               name="Command"
               value="@SharedLocalizer.GetHtmlString("Update")"></>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="vertical mx-3"></div>

    <div>
        <button type="button"
                class="btn btn-sm btn-datagate"
                data-toggle="modal"
                data-target="#columnModal"
                name="showColumnSelection">
            @SharedLocalizer.GetHtmlString("Layout")
        </button>
    </div>

    <div class="switch-datagate-div ml-4">
        <label class="switch-datagate switch-datagate-sm mt-1">
            <input type="checkbox"
                   asp-for="IsActive"
                   id="activeCheckBox">
            <span class="switch-datagate-style"></span>
            <span class="d-block text-switch-datagate">@SharedLocalizer.GetHtmlString("Active")</span>

        </label>
    </div>

    <partial name="AllEntities/_TableLayout" />
</form>

<div class="vertical mx-3"></div>

<div>
    <form method="post" id="extract-form"></form>

    <button class="btn btn-sm btn-datagate"
            id="btn-extract-excel"
            type="button"
            value="Excel">
        EXCEL
    </button>

    <button class="btn btn-sm btn-datagate ml-4"
            id="btn-extract-pdf"
            type="button"
            value="PDF">
        PDF
    </button>
</div>

<div class="vertical mx-3"></div>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
{
    <div>
        <a asp-area="Admin"
           asp-route="@routeCreate"
           class="btn btn-sm btn-datagate">
            @SharedLocalizer.GetHtmlString("Create")
        </a>
    </div>
}