@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.EntitiesOverviewViewModel

@{
    var controller = this.ViewContext.RouteData.Values[GlobalConstants.ControllerRouteDataValue].ToString();
    var targetRoute = string.Empty;

    if (controller == GlobalConstants.FundsControllerName)
    {
        targetRoute = "fundDetails";
    }

    var entityId = string.Empty;
}
<div class="table-responsive border-0 mx-auto" id="tableDoubleScroll">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                @foreach (var row in Model.Headers)
                {
                    foreach (var col in row)
                    {
                        <th class="text-white pr-3 tableHeaderPharus">
                            @col
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Values)
            {
                entityId = row[2];

                <tr class="">
                    @for (int col = 0; col < row.Length; col++)
                    {
                        if (Model.Headers.ToList()[0][col].Contains("NAME"))
                        {
                            <td class="p-1 tableCellPharus">
                                <a class="text-dark" asp-route="@targetRoute" asp-route-id="@entityId" asp-route-date="@Model.Date">
                                    @row[col]
                                </a>
                            </td>
                        }
                        else
                        {
                            <td class="p-1">
                                @row[col]
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
