@model EntitiesViewModel

@{
    var controller = this.ViewContext
        .RouteData
        .Values[EndpointsConstants.ControllerRouteDataValue]
        .ToString();
    var routeDetails = StringSwapper.ByController(controller,
                                                  EndpointsConstants.RouteDetails + EndpointsConstants.FundArea,
                                                  EndpointsConstants.RouteDetails + EndpointsConstants.DisplaySub + EndpointsConstants.FundArea,
                                                  EndpointsConstants.RouteDetails + EndpointsConstants.ShareClassArea);

    var entityAbr = StringSwapper.ByController(controller,
                                            EndpointsConstants.FundAbbreviation,
                                            EndpointsConstants.SubFundAbbreviation,
                                            EndpointsConstants.ShareClassAbbreviation);

    var entityId = string.Empty;
}

<div class="table-responsive border-0 mx-auto">
    <table class="table table-hover table-view-datagate" id="table-to-extract" hidden>
        <thead>
            <tr>
                @for (int header = 0; header < Model.Headers.Count; header++)
                {
                    if (Model.Headers[header] == "NAME")
                    {
                        <th class="th-name" data-toggle="tooltip"
                            data-placement="top"
                            title="@Model.Headers[header]">
                            @Model.Headers[header]
                        </th>
                    }
                    else
                    {
                        <th data-toggle="tooltip"
                            data-placement="top"
                            title="@Model.Headers[header]">
                            @Model.Headers[header]
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody id="tbody-update-inactive">
            @foreach (var row in Model.Values)
            {
                entityId = row[GlobalConstants.IndexEntityIdInTable];

                <tr>
                    @for (int col = 0; col < row.Length; col++)
                    {
                        if (Model.Headers.ToList()[col] == "NAME")
                        {
                            <td class="td-name-link">
                                <a asp-route="@routeDetails" asp-route-id="@entityId" asp-route-date="@Model.Date">
                                    @row[col]
                                </a>
                            </td>
                        }
                        else if (Model.Headers.ToList()[col] == "ID")
                        {
                            <td class="">
                                @row[col]_@entityAbr.ToUpper()
                            </td>
                        }
                        else
                        {
                            <td class="">
                                @row[col]
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>