@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel

@{
    this.ViewData["Title"] = GlobalConstants.FundsControllerName;
    this.Layout = "~/Views/Shared/_Layout.cshtml";

    var entityName = @Model.Entity.ToList()[1][GlobalConstants.IndexEntityNameInTable];
}

<div class="justify-content-between">
    <form asp-controller="FundDetails"
          asp-action="Details"
          method="post">

        <partial name="SpecificEntity/_Toolbar" />

        @if (this.TempData[GlobalConstants.InfoKey] != null)
        {
            <div class="alert alert-success" id="infoMessage">
                @this.TempData[GlobalConstants.InfoKey]
            </div>
        }

        @if (this.TempData[GlobalConstants.ErrorKey] != null)
        {
            <div class="alert alert-danger" id="errorMessage">
                @this.TempData[GlobalConstants.ErrorKey]
            </div>
        }

        <div class="justify-content-between" id="infoAndDocumentsView">
            <partial name="SpecificEntity/_Info" />
            <partial name="SpecificEntity/_Load_Documents" />
        </div>

        <hr class="bg-pharus hr-2" />
    </form>

    <div class="row ml-3" id="div-select-addInfo">
        <label class="text-torshia m-1 pr-3">FUND ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg select-pharus form-control input-sm"
                id="fundAdditionalInfSelect"
                asp-for="SelectAdditionalInf">
            <option value="" selected disabled>Select</option>
            <option value="SubFunds">Sub Funds</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
            <option value="AllAgreements">All Agreements</option>
        </select>
    </div>
    <form id="load-form" method="get"></form>

    <div id="allDocuments" class="mt-3 d-none">
        <div id="loadAllDocuments"></div>
    </div>

    <div id="allAgreements" class="mt-3 d-none">
        <div id="loadAllAgreements"></div>
    </div>

    <div class="container py-5" id="timelineChanges">
        <div class="row" id="loadTimelines">
        </div>
    </div>

    <div id="subEntities" class="mt-4">
        <div id="loadSubEntities">
        </div>
    </div>
</div>

<!-- Modal placeholder for document upload-->
<div id="modal-placeholder-document"></div>

<!-- Modal placeholder for agreement upload-->
<div id="modal-placeholder-agreement"></div>


@section Scripts{
    <script type="text/javascript" src="~/js/controllers/uploadController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controllers/subEntitiesController.js" asp-append-version="true"></script>

    <script>
        // Fade timeout for tempdata messages
        setTimeout(() => {
            $('#infoMessage').fadeOut();
            $('#errorMessage').fadeOut();
        }, 5000);

        const tokenGet = $('#load-form input[name=__RequestVerificationToken]').val();
        const url = '/loadSubFunds';

        const area = '@GlobalConstants.FundAreaName';
        const entityId = @Model.Id;
        const date = '@Model.Date';
        const container = '@entityName';

        const jsonUpload = {
            areaName: '@GlobalConstants.FundAreaName',
            routeName: '@GlobalConstants.FundDetailsRouteName',
            id: @Model.Id,
            date: '@Model.Date',
            startConnection : '@Model.StartConnection',
            endConnection : '@Model.EndConnection',
        };

         @*const jsonAddInfo = {
            id: @Model.Id,
            areaName: '@GlobalConstants.FundAreaName',
            date: '@Model.Date',
            container: '@entityName',
        };*@

        $(document).ready(() => {
            // ________________________________________________________
            //
            // Manage document and agreement upload modals

            uploadModals(tokenGet, jsonUpload);

            // ________________________________________________________
            //
            // Load sub funds, documents, agreements and timelines

            loadAddInfo(tokenGet, url, entityId, date, area, container);
        });
    </script>
}
