@model CreateUserInputModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Create User");
}
<div class="push">
    <div class="d-flex justify-content-center text-center">
        <form class="d-inline w-75" method="post">
            <h2 class="mb-2"> @SharedLocalizer.GetHtmlString("Create User")</h2>
            <div>
                <a class="btn btn-pharus text-white mt-2" asp-area="" asp-controller="User" asp-action="Index">@SharedLocalizer.GetHtmlString("Back to Panel")</a>
            </div>
            <hr />
            <div class="form-group-user">
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="@SharedLocalizer.GetHtmlString("Username")..."
                       autocomplete="username"
                       asp-for="Username">
                <div class="d-flex justify-content-center">
                    <span></span>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-user">
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password..."
                       autocomplete="new-password"
                       asp-for="Password">
                <div class="d-flex justify-content-center">
                    <span></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-user">
                <input type="password"
                       class="form-control"
                       id="confirmPassword"
                       placeholder="@SharedLocalizer.GetHtmlString("Confirm Password")..."
                       autocomplete="new-password"
                       asp-for="ConfirmPassword">
                <div class="d-flex justify-content-center">
                    <span></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-user">
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Email..."
                       asp-for="Email">
                <div class="d-flex justify-content-center">
                    <span></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-user">
                <select class="select-pharus" id="roletype" asp-for="RoleType">
                    <option selected disabled value="0">
                        @SharedLocalizer.GetHtmlString("-- Choose Role --")
                    </option>
                    @foreach (var role in (List<ApplicationRole>)ViewData["Roles"])
                    {
                        <option value="@role.Name">@role</option>
                    }
                </select>
            </div>
            <div>
                <span></span>
                <span asp-validation-for="RoleType" class="text-danger"></span>
            </div>
            <div class="button-holder mt-4">
                <input type="hidden" id="RecaptchaValue" asp-for="RecaptchaValue" />
                <button type="submit"
                        class="btn btn-pharus text-white btn-confirm-create">
                    @SharedLocalizer.GetHtmlString("Create User")
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="Scripts/_CreateEditScriptsPartial">
}
