@model EditUserInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Edit User"];
}
<div class="push">

    <h2>
        @SharedLocalizer["Edit User"]
    </h2>
    <div>
        <a class="btn btn-pharus text-white mt-2"
           asp-area=""
           asp-controller="User"
           asp-action="Index">
            @SharedLocalizer["Back to Panel"]
        </a>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-area="Admin"
                  asp-controller="Admin"
                  method="post"
                  class="d-inline"
                  id="editForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="Username" class="control-label">@SharedLocalizer["Username"]</label>
                    <input asp-for="Username" class="form-control maxw-270" autocomplete="off" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email" class="control-label"> @SharedLocalizer["Email"]</label>
                    <input asp-for="Email" class="form-control maxw-270" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="RoleType" class="control-label">@SharedLocalizer["Role"]</label>
                    <input asp-for="RoleType" class="form-control maxw-270" />
                    <span asp-validation-for="RoleType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PasswordHash" class="control-label">  @SharedLocalizer["New Password"]</label>
                    <input for="PasswordHash" class="form-control maxw-270" autocomplete="new-password" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="control-label">@SharedLocalizer["Confirm Password"]</label>
                    <input asp-for="ConfirmPassword" class="form-control maxw-270" autocomplete="new-password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="button-holder">
                    <input type="hidden" id="RecaptchaValue" asp-for="RecaptchaValue" />
                    <button type="submit"
                            asp-action="EditUser"
                            class="btn btn-pharus text-white btn-confirm-update"
                            style="margin-right:40px">
                        @SharedLocalizer["Save changes"]
                    </button>
                    <button type="submit"
                            asp-action="DeleteUser"
                            class="btn btn-pharus text-white btn-confirm-delete">
                        @SharedLocalizer["Delete User"]
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/createEditForms.js" asp-append-version="true"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(async function () {
            await grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'edit_form' }).then(async function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
