@model List<UserViewModel>

@{ ViewData["Title"] = SharedLocalizer.GetHtmlString("View User"); }
<div class="push text-center">
    <h2 class="text-center text-torshia">
        @SharedLocalizer.GetHtmlString("User List")
    </h2>
    <div>
        <a class="btn btn-pharus text-white mt-2" asp-area="" asp-controller="User" asp-action="Index">@SharedLocalizer.GetHtmlString("Back to Panel")</a>
    </div>
    <hr class="bg-pharus w-50 hr-2" />
    <div class="table-responsive border-0 w-50 mx-auto">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col"><h4>@SharedLocalizer.GetHtmlString("Username")</h4></th>
                    <th scope="col"><h4>@SharedLocalizer.GetHtmlString("Role")</h4></th>
                    <th scope="col"><h4>@SharedLocalizer.GetHtmlString("Last Login")</h4></th>
                    <th scope="col"><h4>@SharedLocalizer.GetHtmlString("Actions")</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
    <tr>
        <th scope="row">@user.Username</th>
        @foreach (var role in user.Roles)
        {
<td>@role</td>}
        <td>
            <time datetime="@user.LastLogin.ToString("o")"></time>
        </td>
        <td>
            <a asp-area="Admin"
               asp-controller="Admin"
               asp-action="EditUser"
               asp-route-id="@user.Id"
               class="btn btn-pharus text-white">@SharedLocalizer.GetHtmlString("Edit")</a>
            |
            <a asp-area="Admin"
               asp-controller="Admin"
               asp-action="DeleteUser"
               asp-route-id="@user.Id"
               class="btn btn-pharus text-white">@SharedLocalizer.GetHtmlString("Delete")</a>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script>
        $(function () {
            moment.locale("de");
            $("time").each(function (i, e) {
                const dateTimeValue = $(e).attr("datetime");
                if (!dateTimeValue) {
                    return;
                }

                const time = moment.utc(dateTimeValue).local();
                $(e).html(time.format("DD.MM.YYYY HH:mm"));
                $(e).attr("title", $(e).attr("datetime"));
            });
        });
    </script>
}
