@using DataGate.Common
@model List<DataGate.Web.ViewModels.Users.UserViewModel>
@{
    ViewData["Title"] = "View User";
}
<div class="push">
    <h1 class="text-center text-torshia">User List</h1>
    <hr class="bg-pharus w-50 hr-2" />

    @if (this.TempData[GlobalConstants.InfoKey] != null)
    {
        <div class="alert alert-success" id="infoMessage">
            @this.TempData[GlobalConstants.InfoKey]
        </div>
    }

    @if (this.TempData[GlobalConstants.ErrorKey] != null)
    {
        <div class="alert alert-danger" id="errorMessage">
            @this.TempData[GlobalConstants.ErrorKey]
        </div>
    }

    <div class="table-responsive border-0 w-50 mx-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><h4>Username</h4></th>
                    <th scope="col"><h4>Roles</h4></th>
                    <th scope="col"><h4>Last Login</h4></th>
                    <th scope="col"><h4>Actions</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@user.Username</th>
                        @foreach (var role in user.Roles)
                        {
                            <td>@role</td>
                        }
                        <td>
                            <time datetime="@user.LastLogin.ToString("o")"></time>
                        </td>
                        <td>
                            <a asp-area="Admin"
                               asp-controller="Admin"
                               asp-action="EditUser"
                               asp-route-id="@user.Id"
                               class="btn btn-pharus text-white">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/moment/time.js" asp-append-version="true"></script>
    <script>
        // Fade timeout for tempdata messages
        setTimeout(() => {
            $('#infoMessage').fadeOut();
            $('#errorMessage').fadeOut();
        }, 5000);
    </script>
}
