<div class="row login-footer-container">
    <div class="login-footer-legal">
        <div>
            <a class="a-underline mx-1" asp-area="" asp-route="privacy">@SharedLocalizer.GetHtmlString("Privacy Policy")</a> |
            <a class="a-underline mx-1" asp-area="" asp-route="cookie">@SharedLocalizer.GetHtmlString("Cookie Policy")</a> |
            <a class="a-underline mx-1" asp-area="" asp-route="conditions">@SharedLocalizer.GetHtmlString("Conditions of Use")</a>
        </div>
        <div>
            <p>
                &copy; @DateTime.Now.Year @GlobalConstants.AppFooter
            </p>
        </div>
    </div>
    <div class="login-footer-social-icons">
        <div><a href="https://www.linkedin.com/company/pharus-management-lux-sa/about/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>        </div>
        <div><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>         </div>
        <div><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>    </div>
    </div>
</div>