<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] | @GlobalConstants.SystemName</title>
    <meta name="description" content="@this.ViewData["Title"]" />
    <meta name="keywords" content="" />

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/identity.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    <main>
        @RenderBody()
    </main>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/popperjs/umd/popper.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />

        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
