@model DataGate.Web.ViewModels.Documents.AgreementOverviewViewModel

<form id="form-agreement" method="post">
    <table class="table table-bordered table-hover" id="tbl-agreements">
        <thead>
            <tr>
                <th class="text-secondary p-1">
                    File Description
                </th>
                <th class="text-secondary p-1">
                    Contract Date
                </th>
                <th class="text-secondary p-1">
                    Activation Date
                </th>
                <th class="text-secondary p-1">
                    Expiration Date
                </th>
                <th class="text-secondary p-1">
                    File Name
                </th>
                <th class="text-secondary p-1">
                </th>
                <th class="text-secondary p-1" hidden>
                    Agreement Id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agreement in Model.Agreements)
            {
                <tr>
                    <td class="p-1">
                        @agreement.Description
                    </td>
                    <td class="p-1">
                        @agreement.ContractDate
                    </td>
                    <td class="p-1">
                        @agreement.ActivationDate
                    </td>
                    <td class="p-1">
                        @agreement.ExpirationDate
                    </td>
                    <td class="p-1">
                        <button class="btn-link-pharus text-left"
                                formtarget="_blank"
                                type="submit"
                                asp-route="files"
                                asp-route-name="@agreement.Name"
                                name="agrValue"
                                value="@agreement.Name">
                            @Html.Encode(@System.IO.Path.GetFileNameWithoutExtension(agreement.Name))
                        </button>

                    </td>
                    <td class="p-1">
                        <button type="button" class="btn btn-pharus btn-sm mr-1 btn-delete">
                            Delete
                        </button>
                    </td>
                    <td class="p-1" hidden>
                        @agreement.FileId
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" name="AreaName" value="@Model.AreaName" />
</form>

<script>
    // ________________________________________________________
    //
    // Delete selected row from agreements table by confirming
    $('.btn-delete').on('click', function () {
        const tokenAgr = $('#form-agreement input[name=__RequestVerificationToken]').val();
        const areaName = '@Model.AreaName';
        let con = confirm('Are you sure you want to delete this?');

        if (!con) {
            event.preventDefault();
        } else {
            const agrValue = $(this).closest('tr').find('button').eq(0).val();
            $.ajax({
                url: '/media/delete',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                headers: { 'X-CSRF-TOKEN': tokenAgr },
                data: { fileId: fileId, agrValue: agrValue, areaName: areaName },

                success: function (data) {

                    if (data.fileId == 'false') {
                        alert('Something wrong!');
                        return false;
                    }
                    $("#tbl-agreements tr:contains('" + data.fileId + "')").remove();
                    $("#tbl-distinct-agreements tr:contains('" + data.fileId + "')").remove();
                    alert('The file was successfully deleted.');
                }
            });
        }
        });
</script>
