@using DataGate.Common
@model DataGate.Web.ViewModels.Documents.DocumentOverviewViewModel

<form id="form-document" method="post">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-secondary p-1">
                    File Description
                </th>
                <th class="text-secondary p-1">
                    Valid From:
                </th>
                <th class="text-secondary p-1">
                    Valid Until:
                </th>
                <th class="text-secondary p-1">
                    File Name
                </th>
                <th class="text-secondary p-1">
                    File Type
                </th>
                <th class="text-secondary p-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model.Documents)
            {
                <tr>
                    <td class="p-1">
                        @document.Description
                    </td>
                    <td class="p-1">
                        @document.ValidFrom
                    </td>
                    <td class="p-1">
                        @document.ValidUntil
                    </td>
                    <td class="p-1">

                        <button class="btn-link-pharus text-left"
                                formtarget="_blank"
                                type="submit"
                                asp-route="files"
                                asp-route-name="@document.Name"
                                name="docValue"
                                value="@document.Name">
                            @Html.Encode(@System.IO.Path.GetFileNameWithoutExtension(document.Name))
                        </button>

                    </td>
                    <td class="p-1">
                        @document.Type
                    </td>
                    <td class="p-1">
                        <button type="button" class="btn btn-primary btn-sm mr-1 btn-delete">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" name="ControllerName" value="@Model.ControllerName" />
</form>

<script>
      $(document).ready(function () {
            const token = $('#form-document input[name=__RequestVerificationToken]').val();
            const controllerName = '@Model.ControllerName';

            // ________________________________________________________
            //
            // Delete selected row from agreements table by confirming

              $('.btn-delete').on('click', function () {
                  let con = confirm('Are you sure you want to delete this?');

                  if (!con) {
                      event.preventDefault();
                  }
                  else {
                      const docValue = $(this).closest('tr').find('button:eq(0)').val();
                      $.ajax({
                          url: '/media/delete',
                          type: 'GET',
                          dataType: 'json',
                          contentType: 'application/json; charset=utf-8',
                          headers: { 'X-CSRF-TOKEN': token },
                          data: { docValue: docValue, controllerName: controllerName },
                          success: function (data) {
                              if (data.data == 'false') {
                                  alert('Something wrong!');
                                  return false;
                              }
                              $("#tbl-distinct-documents tr:contains('" + data.data + "')").remove();
                          }
                      });
                  }
              });

        });
</script>