@model DocumentOverviewViewModel

<form id="form-document" method="post">
    <div class="table-wrapper-double-scroll">
        <table class="table table-bordered table-hover tbl-documents table-view-datagate">
            <thead>
                <tr>
                    <th>
                        @SharedLocalizer.GetHtmlString("File Description")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("Valid From")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("Valid Until")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("File Name")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("File Type")
                    </th>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                    {
                        <th>
                            @SharedLocalizer.GetHtmlString("Actions")
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Documents)
                {
                    <tr class="@document.FileId">
                        <td class="p-1">
                            @document.Description
                        </td>
                        <td class="p-1">
                            @document.ValidFrom
                        </td>
                        <td class="p-1">
                            @document.ValidUntil
                        </td>
                        <td class="p-1">
                            <button class="btn-link-datagate text-left"
                                    formtarget="_blank"
                                    type="submit"
                                    asp-area=""
                                    asp-route="files"
                                    asp-route-name="@document.SluggedName"
                                    name="docValue"
                                    value="@document.Name">
                                @Html.Raw(StringExtensions.GetFileName(document.Name))
                            </button>
                        </td>
                        <td class="p-1">
                            @document.Type
                        </td>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                        {
                            <td class="p-1 text-center">
                                <button type="button" class="btn btn-datagate btn-sm mr-1 btn-delete">
                                    @SharedLocalizer.GetHtmlString("Delete")
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" name="AreaName" value="@Model.AreaName" />
    </div>
</form>

<script src="~/js/deleteFile.js" asp-append-version="true"></script>

<script>
    $(function () {
        // ________________________________________________________
        //
        // Double top scroll for wide table
        $('.double-scroll').doubleScroll();
        $('.table-wrapper-double-scroll').doubleScroll({ resetOnWindowResize: true });

        // ________________________________________________________
        //
        // Delete selected row from file table and DB by confirming

        const tokenDoc = $('#form-document input[name=__RequestVerificationToken]').val(),
             areaName = '@Model.AreaName',
             tableDoc = '.tbl-documents',
             tableDoc_dist = '.tbl-distinct-documents';

        const MESSAGES_DELETE_DOC = {
            TITLE: '@Html.Raw(SharedLocalizer.GetHtmlString("Are you sure?").Value.ToString())',
            TEXT: '@Html.Raw(SharedLocalizer.GetHtmlString("Once deleted, you will not be able to recover this file!").Value.ToString())',
            BTN_CANCEL: '@Html.Raw(SharedLocalizer.GetHtmlString("Cancel").Value.ToString())',
            TITLE_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Error deleting!").Value.ToString())',
            TEXT_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Please try again").Value.ToString())',
            TITLE_SUCCESS: '@Html.Raw(SharedLocalizer.GetHtmlString("Your file has been deleted!").Value.ToString())'
        };

        deleteFile(tokenDoc, areaName, tableDoc, tableDoc_dist, MESSAGES_DELETE_DOC);
    })
</script>