@*@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div id="allAgreements" class="mt-3 d-none">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-secondary p-1">
                    File Description
                </th>
                <th class="text-secondary p-1">
                    Contract Date
                </th>
                <th class="text-secondary p-1">
                    Activation Date
                </th>
                <th class="text-secondary p-1">
                    Expiration Date
                </th>
                <th class="text-secondary p-1">
                    File Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agreement in Model.Agreements)
            {
                <tr>
                    <td class="p-1">
                        @agreement.Description
                    </td>
                    <td class="p-1">
                        @agreement.ContractDate
                    </td>
                    <td class="p-1">
                        @agreement.ActivationDate
                    </td>
                    <td class="p-1">
                        @agreement.ExpirationDate
                    </td>
                    <td class="p-1">
                        <button class="btn-link-pharus text-left"
                                formtarget="_blank"
                                type="submit"
                                formaction="/@controllerName/ReadAgreement"
                                name="pdfValue"
                                value="@agreement.Name">
                            @System.IO.Path.GetFileNameWithoutExtension(agreement.Name)
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@