@model AgreementOverviewViewModel

<form id="form-agreement" method="post">
    <div class="table-wrapper-double-scroll">
        <table class="table table-bordered table-hover tbl-agreements table-view-datagate">
            <thead>
                <tr>
                    <th>
                        @SharedLocalizer.GetHtmlString("File Description")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("Contract Date")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("Activation Date")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("Expiration Date")
                    </th>
                    <th>
                        @SharedLocalizer.GetHtmlString("File Name")
                    </th>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                    {
                        <th>
                            @SharedLocalizer.GetHtmlString("Actions")
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var agreement in Model.Agreements)
                {
                    <tr class="@agreement.FileId">
                        <td class="p-1">
                            @agreement.Description
                        </td>
                        <td class="p-1">
                            @agreement.ContractDate
                        </td>
                        <td class="p-1">
                            @agreement.ActivationDate
                        </td>
                        <td class="p-1">
                            @agreement.ExpirationDate
                        </td>
                        <td class="p-1">
                            <button class="btn-link-datagate text-left"
                                    formtarget="_blank"
                                    type="submit"
                                    asp-area=""
                                    asp-route="files"
                                    asp-route-name="@agreement.SluggedName"
                                    name="agrValue"
                                    value="@agreement.Name">
                                @Html.Raw(StringExtensions.GetFileName(agreement.Name))
                            </button>
                        </td>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                        {
                            <td class="p-1 text-center">
                                <button class="btn btn-datagate btn-sm mr-1"
                                            type="submit"
                                            asp-area=""
                                            asp-route="fees"
                                            asp-route-fileId="@agreement.FileId">
                                        @SharedLocalizer.GetHtmlString("fees")
                                    </button>
                                    |
                                <button type="button" class="btn btn-datagate btn-sm mx-1 btn-delete">
                                    @SharedLocalizer.GetHtmlString("DELETE")
                                </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" name="AreaName" value="@Model.AreaName" />
        <input type="hidden" name="Id" value="@Model.ContainerId" />
        <input type="hidden" name="Date" value="@Model.Date" />
    </div>
</form>

<script src="~/js/deleteFile.js" asp-append-version="true"></script>

<script>
    $(function () {
        // ________________________________________________________
        //
        // Double top scroll for wide table
        $('.double-scroll').doubleScroll();
        $('.table-wrapper-double-scroll').doubleScroll({ resetOnWindowResize: true });

        // ________________________________________________________
        //
        // Delete selected row from file table and DB by confirming

        const tokenAgr = $('#form-agreement input[name=__RequestVerificationToken]').val(),
            areaName = '@Model.AreaName',
            tableAgr = '.tbl-agreements',
            tableAgr_dist = '.tbl-distinct-agreements';

        const MESSAGES_DELETE_AGR = {
            TITLE: '@Html.Raw(SharedLocalizer.GetHtmlString("Are you sure?").Value.ToString())',
            TEXT: '@Html.Raw(SharedLocalizer.GetHtmlString("Once deleted, you will not be able to recover this file!").Value.ToString())',
            BTN_CANCEL: '@Html.Raw(SharedLocalizer.GetHtmlString("Cancel").Value.ToString())',
            TITLE_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Error deleting!").Value.ToString())',
            TEXT_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Please try again").Value.ToString())',
            TITLE_SUCCESS: '@Html.Raw(SharedLocalizer.GetHtmlString("Your file has been deleted!").Value.ToString())'
        };

        deleteFile(tokenAgr, areaName, tableAgr, tableAgr_dist, MESSAGES_DELETE_AGR);
    })
</script>