@model IEnumerable<DataGate.Web.ViewModels.Documents.AllDocViewModel>
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<thead>
    <tr>
        <th class="text-secondary p-1">
            File Description
        </th>
        <th class="text-secondary p-1">
            Valid From:
        </th>
        <th class="text-secondary p-1">
            Valid Until:
        </th>
        <th class="text-secondary p-1">
            File Name
        </th>
        <th class="text-secondary p-1">
            File Type
        </th>
        <th class="text-secondary p-1"></th>
    </tr>
</thead>
<tbody>
    @foreach (var document in Model)
    {
        <tr>
            <td class="p-1">
                @document.Description
            </td>
            <td class="p-1">
                @document.ValidFrom
            </td>
            <td class="p-1">
                @document.ValidUntil
            </td>
            <td class="p-1">
                <button class="btn-link-pharus text-left"
                        formtarget="_blank"
                        type="submit"
                        formaction="/@controllerName/ReadDocument"
                        name="pdfValue"
                        value="@document.Name">
                    @System.IO.Path.GetFileNameWithoutExtension(document.Name)
                </button>
            </td>
            <td class="p-1">
                @document.Type
            </td>
            <td class="p-1">
                <button type="button"
                        class="btn btn-primary btn-sm mr-1 confirmDocDelBtn"
                        formaction="@Url.Action("DeleteDocument", controllerName,
                                                               new { @fileName = document.Name })">
                    Delete
                </button>
            </td>
        </tr>
    }
</tbody>
