@{
    var controller = this.ViewContext.RouteData.Values[EndpointsConstants.ControllerRouteDataValue].ToString();

    var entityType = StringSwapper.ByController(controller,
                                               EndpointsConstants.SubFundNameDisplay,
                                               EndpointsConstants.ShareClassNameDisplay,
                                               string.Empty);
}

<div class="table-responsive border-0" id="table-info-datagate">
    <table class="table table-hover">
        <tbody>
            @for (int row = 1; row < Model.Entity.Count; row++)
            {
                @for (int col = 0; col < Model.Entity[row].Length; col++)
                {
                    if (string.IsNullOrEmpty(entityType))
                    {
                         <tr>
                            <th>
                                @Model.Entity[0][col]
                            </th>
                            <td>
                                @Model.Entity[row][col]
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                                {
                                    <span class="icon-edit">
                                    </span>
                                }
                            </td>
                        </tr>

                    }
                    else
                    {
                        if (Model.Entity[0][col] == "STATUS")
                        {
                            <tr>
                                <th>
                                    @Model.Entity[0][col]
                                </th>
                                <td>
                                    @Model.Entity[row][col]
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                                    {
                                        <span class="icon-edit">
                                        </span>
                                    }
                                </td>
                            </tr>

                             <tr>
                                <th>
                                   ACTIVE @entityType
                                </th>
                                <td>
                                    @Model.SubEntityCount
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th>
                                    @Model.Entity[0][col]
                                </th>
                                <td>
                                    @Model.Entity[row][col]
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                                    {
                            <span class="icon-edit">
                            </span>}
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>