@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="w-50">
    <div class="my-5">
        @if (controllerName == "Funds")
        {
            <u class="text-torshia">PROSPECTUS</u><br>

            <table class="table table-borderless table-hover w-100"
                   id="tbl-distinct-documents">
                <tbody>
                    @for (int row = 1; row < Model.EntityDistinctDocuments.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.EntityDistinctDocuments[row].Length; col++)
                            {
                                @if (Model.EntityDistinctDocuments[0][col] == "File Name")
                                {
                                    <td>
                                        <button class="btn-link-pharus text-left"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/@controllerName/ReadDocument"
                                                name="pdfValue"
                                                value="@Model.EntityDistinctDocuments[row][col]">
                                            @System.IO.Path.GetFileNameWithoutExtension(Model.EntityDistinctDocuments[row][col])
                                        </button>
                                    </td>
                                    
                                }
                                else if (Model.EntityDistinctDocuments[0][col] == "File Description")
                                {
                                    <td>
                                        @Model.EntityDistinctDocuments[row][col]
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <u class="text-torshia">DOCUMENTS</u><br>

            <div class="mt-3">
                <table class="table table-hover w-100"
                       id="tbl-distinct-documents">
                    <thead>
                        <tr>
                            <th class="text-secondary p-1">File Description</th>
                            <th class="text-secondary p-1">File Name</th>
                            <th class="text-secondary p-1">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int row = 1; row < Model.EntityDistinctDocuments.Count; row++)
                        {
                            <tr>

                                @for (int col = 0; col < Model.EntityDistinctDocuments[row].Length; col++)
                                {
                                    @if (Model.EntityDistinctDocuments[0][col] == "File Name")
                                    {
                                        <td>
                                            <button class="btn-link-pharus text-left"
                                                    formtarget="_blank"
                                                    type="submit"
                                                    formaction="/@controllerName/ReadDocument"
                                                    name="pdfValue"
                                                    value="@Model.EntityDistinctDocuments[row][col]">
                                                @System.IO.Path.GetFileNameWithoutExtension(Model.EntityDistinctDocuments[row][col])
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-primary btn-sm mr-1 confirmDocDelBtn"
                                                    formaction="@Url.Action("DeleteDocument", controllerName,
                                                           new { @fileName = Model.EntityDistinctDocuments[row][col]})">
                                                Delete
                                            </button>
                                        </td>
                                    }
                                    else if (Model.EntityDistinctDocuments[0][col] == "File Description")
                                    {
                                        <td>
                                            @Model.EntityDistinctDocuments[row][col]
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="mb-5">
        <u class="text-torshia">AGREEMENTS</u><br>

        <div class="mt-3">
            <table class="table table-hover w-100"
                   id="tbl-distinct-agreements">
                <thead>
                    <tr>
                        <th class="text-secondary p-1">File Description</th>
                        <th class="text-secondary p-1">File Name</th>
                        <th class="text-secondary p-1">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.EntityDistinctAgreements.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.EntityDistinctAgreements[row].Length; col++)
                            {
                                @if (Model.EntityDistinctAgreements[0][col] == "File Name")
                                {
                                    <td>
                                        <button class="btn-link-pharus text-left"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/@controllerName/ReadAgreement"
                                                name="pdfValue"
                                                value="@Model.EntityDistinctAgreements[row][col]">
                                            @System.IO.Path.GetFileNameWithoutExtension(Model.EntityDistinctAgreements[row][col])
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary btn-sm mr-1 confirmAgrDelBtn"
                                                formaction="@Url.Action("DeleteAgreement", controllerName,
                                                           new { @fileName = Model.EntityDistinctAgreements[row][col]})">
                                            Delete
                                        </button>
                                    </td>
                                }
                                else if (Model.EntityDistinctAgreements[0][col] == "File Description")
                                {
                                    <td>
                                        @Model.EntityDistinctAgreements[row][col]
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>