@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="w-50">
    <div class="my-5">
        @if (controllerName == GlobalConstants.FundDetailsControllerName)
        {
            <u class="text-torshia">PROSPECTUS</u><br>

            <table class="table table-borderless table-hover w-100"
                   id="tbl-distinct-documents">
                <tbody>
                    @foreach (var document in Model.DistinctDocuments)
                    {
                        <tr>
                            <td>
                                <button class="btn-link-pharus text-left"
                                        formtarget="_blank"
                                        type="submit"
                                        asp-route="files"
                                        asp-route-name="@document.Name"
                                        name="docValue"
                                        value="@document.Name">
                                    @System.IO.Path.GetFileNameWithoutExtension(document.Name)
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <u class="text-torshia">DOCUMENTS</u><br>

            <div class="mt-3">
                <table class="table table-hover w-100"
                       id="tbl-distinct-documents">
                    <thead>
                        <tr>
                            <th class="text-secondary p-1">File Description</th>
                            <th class="text-secondary p-1">File Name</th>
                            <th class="text-secondary p-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var document in Model.DistinctDocuments)
                        {
                            <tr>
                                <td>
                                    @document.Description
                                </td>
                                <td>
                                    <button class="btn-link-pharus text-left"
                                            formtarget="_blank"
                                            type="submit"
                                            asp-route="files"
                                            asp-route-name="@document.Name"
                                            name="docValue"
                                            value="@document.Name">
                                        @System.IO.Path.GetFileNameWithoutExtension(document.Name)
                                    </button>
                                </td>

                                <td>
                                    <button type="button"
                                            class="btn btn-primary btn-sm mr-1 confirmDocDelBtn"
                                            formaction="@Url.Action("DeleteDocument", controllerName,
                                                               new { @fileName = document.Name })">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="mb-5">
        <u class="text-torshia">AGREEMENTS</u><br>

        <div class="mt-3">
            <table class="table table-hover w-100"
                   id="tbl-distinct-agreements">
                <thead>
                    <tr>
                        <th class="text-secondary p-1">File Description</th>
                        <th class="text-secondary p-1">File Name</th>
                        <th class="text-secondary p-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var document in Model.DistinctAgreements)
                    {
                        <tr>
                            <td>
                                @document.Description
                            </td>
                            <td>
                                <button class="btn-link-pharus text-left"
                                        formtarget="_blank"
                                        type="submit"
                                        asp-route="files"
                                        asp-route-name="@document.Name"
                                        name="agrValue"
                                        value="@document.Name">
                                    @System.IO.Path.GetFileNameWithoutExtension(document.Name)
                                </button>
                            </td>

                            <td>
                                <button type="button"
                                        class="btn btn-primary btn-sm mr-1 confirmDocDelBtn"
                                        formaction="@Url.Action("DeleteDocument", controllerName,
                                                               new { @fileName = document.Name })">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="ControllerName" value="@controllerName" />
</div>