@{ 
    var controller = this.ViewContext.RouteData.Values[EndpointsConstants.ControllerRouteDataValue].ToString();                
    var entityType = (controller == EndpointsConstants.FundArea + EndpointsConstants.ActionDetails) ?
                                    "Sub Funds" : "Shares"; 
}

<div class="container-column-add-info">
    <div>
        <div class="row">
            @if (controller != EndpointsConstants.ShareClassArea + EndpointsConstants.ActionDetails)
            {
                <div class="column-add-info">
                    <div class="card-add-info">
                        <button id="btn-open-subentities">@SharedLocalizer.GetHtmlString(entityType)</button>
                    </div>
                </div>      
            }

            @if (controller != EndpointsConstants.FundArea + EndpointsConstants.ActionDetails)
            {
                <div class="column-add-info">
                    <div class="card-add-info">
                        <button id="btn-open-chart">@SharedLocalizer.GetHtmlString("Charts")</button>
                    </div>
                </div>      
            }

            <div class="column-add-info">
                <div class="card-add-info">
                    <button id="btn-open-distinct">@SharedLocalizer.GetHtmlString("Documents")</button>
                </div>
            </div>

            <div class="column-add-info">
                <div class="card-add-info">
                    <button id="btn-open-timeline">@SharedLocalizer.GetHtmlString("Timeline")</button>
                </div>
            </div>

            <div class="column-add-info">
                <div class="card-add-info">
                    <button id="btn-open-documents">@SharedLocalizer.GetHtmlString("documentsArchive")</button>
                </div>
            </div>

            <div class="column-add-info">
                <div class="card-add-info">
                    <button id="btn-open-agreements">@SharedLocalizer.GetHtmlString("agreementsArchive")</button>
                </div>
            </div>

            @if (controller == EndpointsConstants.ShareClassArea + EndpointsConstants.ActionDetails)
            {
                <div class="column-add-info">
                    <div class="card-add-info">
                        <button id="btn-open-countries-dist">@SharedLocalizer.GetHtmlString("countryDistribution")</button>
                    </div>
                </div>   
            }

        </div>
    </div>
    <form id="load-form" method="get"></form>

    <!-- Container for aum chart selected option-->
    <div id="aumChart" class="mt-5 d-none"></div>

    <!-- Container for distinct documents selected option-->
    <div id="distinctDocuments" class="mt-5 d-none"></div>

    <!-- Container for all documents selected option-->
    <div id="allDocuments" class="mt-5 d-none"></div>

    <!-- Container for all agreements selected option-->
    <div id="allAgreements" class="mt-5 d-none"></div>

    <!-- Container for timeline changes selected option-->
    <div id="timelineChanges" class="container py-5 row d-none"></div>

    <!-- Container for countries of distribution selected option-->
    <div id="countriesDist" class="container py-5 row d-none"></div>
</div>