@model SpecificEntityViewModel
@{
    var controllerName = this.ViewContext.RouteData.Values[GlobalConstants.ControllerRouteDataValue].ToString();
    var targetEditRoute = string.Empty;
    var targetRouteContainer = string.Empty;
    var containerName = string.Empty;
    var entityName = string.Empty;
    var routeName = string.Empty;
    var areaName = string.Empty;

    if (controllerName == GlobalConstants.FundDetailsControllerName)
    {
        entityName = GlobalConstants.FundNameDisplay;
        targetEditRoute = "editFund";
        routeName = GlobalConstants.AllFundsRouteName;
    }
    else if (controllerName == GlobalConstants.SubFundDetailsControllerName)
    {
        entityName = GlobalConstants.SubFundNameDisplay;
        containerName = GlobalConstants.ContainerFundName;
        areaName = GlobalConstants.FundAreaName;
        targetRouteContainer = GlobalConstants.FundDetailsRouteName;
        routeName = GlobalConstants.AllSubFundsRouteName;
    }
    else if (controllerName == GlobalConstants.ShareClassDetailsControllerName)
    {
        entityName = GlobalConstants.ShareClassNameDisplay;
        containerName = GlobalConstants.ContainerSubFundName;
        areaName = GlobalConstants.SubFundAreaName;
        targetRouteContainer = GlobalConstants.SubFundDetailsRouteName;
        routeName = GlobalConstants.AllShareClassesRouteName;
    }
}
<div class="mx-auto mb-5">
    <div class="h-100 d-flex">
        @if (controllerName == GlobalConstants.FundDetailsControllerName)
        {
            <div class="div-entity-container-wrapper"></div>
        }
        else
        {
            <div class="div-entity-container-wrapper">
                <p>@containerName CONTAINER: </p>
                <a asp-area="@areaName"
                   asp-route="@targetRouteContainer"
                   asp-route-id="@Model.Container.ContainerId"
                   asp-route-date="@Model.Date">
                    @Model.Container.ContainerName
                </a>
            </div>
        }

        <form class="d-flex ml-5"
              method="post"
              asp-action="Details"
              id="update-form">

            <div>
                <input type="date"
                       id="date-pharus"
                       asp-for="Date"
                       min="2018-01-01">

                <input type="submit"
                       class="btn btn-pharus btn-sm"
                       asp-for="Command"
                       asp-action="Update"
                       asp-route-id="@Model.Id"
                       value="Update Table"
                       style="margin-bottom: 2%"></>
            </div>
        </form>

        <div class="mx-2">
            <a asp-route="@routeName"
               class="btn btn-pharus btn-sm mb-2">
                Back to All
            </a>
        </div>
        <div>
            <button type="button"
                    id="btn-upload-document"
                    class="btn btn-pharus btn-sm mb-2"
                    data-toggle="ajax-modal"
                    data-target="#upload-document">
                Upload Document
            </button>
        </div>

        <div class="mx-2">
            <button type="button"
                    id="btn-upload-agreement"
                    class="btn btn-pharus btn-sm mb-2"
                    data-toggle="ajax-modal"
                    data-target="#upload-agreement">
                Upload Agreement
            </button>
        </div>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div>
                <a asp-area="Admin"
                   asp-route="@targetEditRoute"
                   asp-route-id="@Model.Id"
                   asp-route-date="@Model.Date"
                   class="btn btn-pharus btn-sm mb-2">
                    Edit @entityName
                </a>
            </div>
        }
    </div>
</div>