@model DataGate.Web.ViewModels.Files.UploadAgreementViewModel

<div class="form-group">
    <select class="form-control maxw-270" asp-for="AgrType">
        <option value="">-- Choose Agreement Type --</option>
        @foreach (var type in (List<string>)ViewData["AgreementsFileTypes"])
        {
            <option value="@type">@type</option>
        }
    </select>
    <span asp-validation-for="AgrType" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ContractDate" class="text-torshia"></label><br>
    <input asp-for="ContractDate"
           type="date"
           min="2018-01-01"
           class="form-control maxw-270"
           id="contractDate">
    <span asp-validation-for="ContractDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ActivationDate" class="text-torshia"></label><br>
    <input asp-for="ActivationDate"
           type="date"
           min="2018-01-01"
           class="form-control maxw-270"
           id="activationDate">
    <span asp-validation-for="ActivationDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ExpirationDate" class="text-torshia"></label><br>
    <input asp-for="ExpirationDate"
           type="date"
           min="2018-01-01"
           class="form-control maxw-270"
           id="expirationDate">
    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
</div>

<div class="form-group">
    <select class="form-control maxw-270" asp-for="Status">
        <option selected disabled value="">-- Choose Status --</option>
        @foreach (var status in (List<string>)ViewData["AgreementsStatus"])
        {
            <option value="@status">@status</option>
        }
    </select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>

<div class="form-group">
    <select class="form-control maxw-270" asp-for="Company">
        <option selected disabled value="">-- Choose Company --</option>
        @foreach (var company in (List<string>)ViewData["Companies"])
        {
            <option value="@company">@company</option>
        }
    </select>
    <span asp-validation-for="Company" class="text-danger"></span>
</div>

<div class="form-group">
    <input asp-for="FileToUpload"
           type="file"
           accept="application/pdf">
</div>
<span asp-validation-for="FileToUpload" class="text-danger"></span>

<button type="submit"
        class="btn bg-pharus text-white">
    Upload Document
</button>
