@model Pharus.App.Models.BindingModels.SubFunds.CreateSubFundBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create New SubFund</h4>

<form asp-action="CreateSubFund"
      method="post"
      class="d-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-inline"
         id="createForm">

        <div class="form-group">
            <label asp-for="InitialDate" class="text-torshia"></label><br>
            <input asp-for="InitialDate"
                   type="date"
                   min="2018-01-01"
                   class="form-control maxw-270">
            <span asp-validation-for="InitialDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="text-torshia"></label><br>
            <input asp-for="EndDate"
                   type="date"
                   min="@DateTime.Today.ToString("yyyy-MM-dd")"
                   class="form-control maxw-270">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SubFundName" class="text-torshia"></label><br>
            <input type="text"
                   asp-for="SubFundName"
                   class="form-control maxw-270"
                   id="formatName" />
            <span asp-validation-for="SubFundName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="Status">
                <option selected disabled>-- Choose Status --</option>
                @foreach (var status in (List<string>)ViewData["Status"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CSSFCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CSSFCode">
            <span asp-validation-for="CSSFCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FACode"
                   id="faCodeInput">
            <span asp-validation-for="FACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DBCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="DBCode"
                   id="depCodeInput">
            <span asp-validation-for="DBCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TACode"
                   id="taCodeInput">
            <span asp-validation-for="TACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstNavDate" class="text-torshia"></label><br>
            <input asp-for="FirstNavDate"
                   type="date"
                   class="form-control maxw-270">
            <span asp-validation-for="FirstNavDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastNavDate" class="text-torshia"></label><br>
            <input asp-for="LastNavDate"
                   type="date"
                   class="form-control maxw-270">
            <span asp-validation-for="LastNavDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CSSFAuthDate" class="text-torshia"></label><br>
            <input asp-for="CSSFAuthDate"
                   type="date"
                   class="form-control maxw-270">
            <span asp-validation-for="CSSFAuthDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExpiryDate" class="text-torshia"></label><br>
            <input asp-for="ExpiryDate"
                   type="date"
                   class="form-control maxw-270">
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LEICode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="LEICode"
                   id="leiCodeInput">
            <span asp-validation-for="LEICode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CesrClass" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CesrClass">
                <option selected disabled>-- Choose Class --</option>
                @foreach (var cesr in (List<string>)ViewData["CesrClass"])
                {
                    <option value="@cesr">@cesr</option>
                }
            </select>
            <span asp-validation-for="CesrClass" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GeographicalFocus" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="GeographicalFocus">
                <option selected disabled>-- Choose GeoFocus --</option>
                @foreach (var focus in (List<string>)ViewData["GeographicalFocus"])
                {
                    <option value="@focus">@focus</option>
                }
            </select>
            <span asp-validation-for="GeographicalFocus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GlobalExposure" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="GlobalExposure">
                <option selected disabled>-- Choose Exposure --</option>
                @foreach (var expo in (List<string>)ViewData["GlobalExposure"])
                {
                    <option value="@expo">@expo</option>
                }
            </select>
            <span asp-validation-for="GlobalExposure" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CurrencyCode" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CurrencyCode">
                <option selected disabled>-- Choose Currency --</option>
                @foreach (var currency in (List<string>)ViewData["CurrencyCode"])
                {
                    <option value="@currency">@currency</option>
                }
            </select>
            <span asp-validation-for="CurrencyCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NavFrequency" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="NavFrequency">
                <option selected disabled>-- Choose Frequency --</option>
                @foreach (var frequency in (List<string>)ViewData["NavFrequency"])
                {
                    <option value="@frequency">@frequency</option>
                }
            </select>
            <span asp-validation-for="NavFrequency" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ValuationDate" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="ValuationDate">
                <option selected disabled>-- Choose Valuation --</option>
                @foreach (var date in (List<string>)ViewData["ValuationDate"])
                {
                    <option value="@date">@date</option>
                }
            </select>
            <span asp-validation-for="ValuationDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CalculationDate" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CalculationDate">
                <option selected disabled>-- Choose Calculation --</option>
                @foreach (var date in (List<string>)ViewData["CalculationDate"])
                {
                    <option value="@date">@date</option>
                }
            </select>
            <span asp-validation-for="CalculationDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Derivatives" class="text-torshia"></label><br>
            <select id="derivatives"
                    class="form-control maxw-270"
                    asp-for="Derivatives">
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>
            <span asp-validation-for="Derivatives" class="text-danger"></span>
        </div>

        <div class="form-group" id="derivMarket" hidden>
            <label asp-for="DerivMarket"
                   class="text-torshia"></label><br>
            <select class="form-control maxw-270"
                    asp-for="DerivMarket">
                <option selected disabled>-- Choose Market --</option>
                @foreach (var market in (List<string>)ViewData["DerivMarket"])
                {
                    <option value="@market">@market</option>
                }
            </select>
            <span asp-validation-for="DerivMarket" class="text-danger"></span>
        </div>

        <div class="form-group" id="derivPurpose" hidden>
            <label asp-for="DerivPurpose"
                   class="text-torshia"></label><br>
            <select class="form-control maxw-270"
                    asp-for="DerivPurpose">
                <option selected disabled>-- Choose Purpose --</option>
                @foreach (var purpose in (List<string>)ViewData["DerivPurpose"])
                {
                    <option value="@purpose">@purpose</option>
                }
            </select>
            <span asp-validation-for="DerivPurpose" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrincipalAssetClass" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="PrincipalAssetClass">
                <option selected disabled>-- Choose Class --</option>
                @foreach (var pac in (List<string>)ViewData["PrincipalAssetClass"])
                {
                    <option value="@pac">@pac</option>
                }
            </select>
            <span asp-validation-for="PrincipalAssetClass" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TypeOfMarket" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="TypeOfMarket">
                <option selected disabled>-- Choose Market --</option>
                @foreach (var type in (List<string>)ViewData["TypeOfMarket"])
                {
                    <option value="@type">@type</option>
                }
            </select>
            <span asp-validation-for="TypeOfMarket" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrincipalInvestmentStrategy" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="PrincipalInvestmentStrategy">
                <option selected disabled>-- Choose Strategy --</option>
                @foreach (var strategy in (List<string>)ViewData["PrincipalInvestmentStrategy"])
                {
                    <option value="@strategy">@strategy</option>
                }
            </select>
            <span asp-validation-for="PrincipalInvestmentStrategy" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ClearingCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="ClearingCode"
                   id="leiCodeInput">
            <span asp-validation-for="ClearingCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SfCatMorningStar" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="SfCatMorningStar">
                <option selected disabled>-- Choose Category --</option>
                @foreach (var ms in (List<string>)ViewData["SfCatMorningStar"])
                {
                    <option value="@ms">@ms</option>
                }
            </select>
            <span asp-validation-for="SfCatMorningStar" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SfCatSix" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="SfCatSix">
                <option selected disabled>-- Choose Category --</option>
                @foreach (var six in (List<string>)ViewData["SfCatSix"])
                {
                    <option value="@six">@six</option>
                }
            </select>
            <span asp-validation-for="SfCatSix" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SfCatBloomberg" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="SfCatBloomberg">
                <option selected disabled>-- Choose Category --</option>
                @foreach (var bg in (List<string>)ViewData["SfCatBloomberg"])
                {
                    <option value="@bg">@bg</option>
                }
            </select>
            <span asp-validation-for="SfCatBloomberg" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundContainer" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="FundContainer">
                <option selected disabled>-- Choose Category --</option>
                @foreach (var container in (List<string>)ViewData["FundContainer"])
                {
                    <option value="@container">@container</option>
                }
            </select>
            <span asp-validation-for="FundContainer" class="text-danger"></span>
        </div>
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn btn-primary btn-sm mb-1"
                id="confirmCreateBtn"
                name="create_button"
                style="margin-right:40px">
            Create SubFund
        </button>

        <a class="btn btn-primary btn-sm"
           asp-action="All">Back to List</a>
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="~/js/format/formatInput.js"></script>
    <script type="text/javascript" src="~/js/format/formatName.js"></script>
    <script type="text/javascript" src="~/js/confirm/confirmCreate.js"></script>
    <script type="text/javascript" src="~/js/getDerivatives.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            formatInput();
            formatName();
            getDerivatives();
            confirmCreate();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
}