@model DataGate.Web.ViewModels.Search.SearchResultsViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Search Results");
    IRequestCultureFeature currentCulture = Context.Features.Get<IRequestCultureFeature>();
    var targetArea = EndpointsConstants.ShareClassArea;
    var targetRoute = EndpointsConstants.RouteDetails + EndpointsConstants.ShareClassArea;
}

<div class="table-search-wrapper">
    <h1>@SharedLocalizer.GetHtmlString("Result")</h1>
    <p>@SharedLocalizer.GetHtmlString("Your search criteria was:") <strong> @Model.CleanedSearch</strong></p>
    <p>
        @SharedLocalizer.GetHtmlString("Number of results:") @Model.Results.ToList().Count
        @SharedLocalizer.GetHtmlString("entries")
    </p>

    @if (Model.Results.Any())
    {
        <table class="table-bordered table-hover table-view-datagate mx-auto" style="width:50%;">
            <thead>
                <tr>
                    <th>
                        ISIN CODE
                    </th>
                    <th>
                        SHARE NAME
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td class="p-1 td-name-link">
                            <a asp-area="@targetArea" asp-route="@targetRoute" asp-route-id="@result.ScId" asp-route-date="@Model.Date">
                                @result.ScIsinCode
                            </a>
                        </td>
                        <td>
                            @result.ScOfficialShareClassName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@SharedLocalizer.GetHtmlString("No result produced by your request.")</p>
        <p>@SharedLocalizer.GetHtmlString("Please modify your search criteria.")</p>
    }

</div>

<partial name="_Footer" />

@section Scripts{
    <script>
        let cultureObj = {};

        if ('@currentCulture.RequestCulture.Culture.Name' === 'it-IT') {
            cultureObj = {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            };
        }

        $(document).ready(function () {
            $('.table-view-datagate').DataTable({
                "language": cultureObj
            });
            $(".dataTables_length select").chosen({
                disable_search_threshold: 10,
                width: "64px",
                placeholder_text_single: "All"
            });
        });
    </script>
}