@model DataGate.Web.ViewModels.Search.SearchListAllViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Search Results");
    var targetArea = GlobalConstants.ShareClassAreaName;
    var targetRoute = GlobalConstants.ShareClassDetailsRouteName;
}

<div class="table-search-wrapper">
    <h1>@SharedLocalizer.GetHtmlString("Result")</h1>
    <p>@SharedLocalizer.GetHtmlString("Your search criteria was:") @Model.SearchTerm</p>
    <p>@SharedLocalizer.GetHtmlString("Number of results:") @Model.Results.ToList().Count</p>

    @if (Model.Results.Any())
    {
        <table class="table-bordered table-hover table-view-pharus mx-auto" style="width:50%;">
            <thead>
                <tr>
                    <th >
                        ISIN CODE
                    </th>
                    <th >
                        SHARE NAME
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td class="p-1 td-name-link">
                            <a asp-area="@targetArea" asp-route="@targetRoute" asp-route-id="@result.ScId" asp-route-date="@Model.Date">
                                @result.ScIsinCode
                            </a>
                        </td>
                        <td>
                            @result.ScOfficialShareClassName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@SharedLocalizer.GetHtmlString("No result produced by your request.")</p>
        <p>@SharedLocalizer.GetHtmlString("Please modify your search criteria.")</p>
    }

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table-view-pharus').DataTable({
                searching: false,
            });
            $(".dataTables_length select").chosen({
                disable_search_threshold: 10,
                width: "55px",
                placeholder_text_single: "All"
            });
        });
    </script>
}