@model DataGate.Web.ViewModels.Agreements.AllAgreementOverviewViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Agreements"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-details">
                <div class="mx-auto mb-4">
                    <div class="h-100 d-flex">
                        <div class="mr-2">
                            <a asp-area=""
                               asp-route="allagreements"
                               class="btn btn-pharus btn-sm mb-2">
                                @SharedLocalizer["Back to All"]
                            </a>
                        </div>

                        <form class="d-flex mx-3"
                              method="post"
                              asp-route="All"
                              id="update-form">
                            <div>
                                <input type="hidden" asp-for="SelectedType" />

                                <input type="date"
                                       id="date-pharus"
                                       asp-for="Date"
                                       min="2018-01-01">

                                <input type="submit"
                                       class="btn btn-pharus btn-sm"
                                       value="Update Table"
                                       style="margin-bottom: 2%"></>
                            </div>
                        </form>
                        <div class="title-main-agreements">
                            <h2 class="">@Model.SelectedType @SharedLocalizer["Agreements"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <h2 class="text-center title-responsive">@Model.SelectedType @SharedLocalizer["Agreements"]</h2>

        <partial name="_StatusMessage" />

        <form id="form-agreement" method="post">
            <div class="table-wrapper-double-scroll">
                <table class="table table-bordered table-hover tbl-agreements table-view-pharus">
                    <thead>
                        <tr>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["File Description"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Company Name"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Contract Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Activation Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Expiration Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["File Name"]
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agreement in Model.Agreements)
                        {
                            <tr class="@agreement.FileId">
                                <td class="p-1">
                                    @agreement.Description
                                </td>
                                <td class="p-1">
                                    @agreement.ContractDate
                                </td>
                                <td class="p-1">
                                    @agreement.ActivationDate
                                </td>
                                <td class="p-1">
                                    @agreement.ExpirationDate
                                </td>
                                <td class="p-1">
                                    <button class="btn-link-pharus text-left"
                                            formtarget="_blank"
                                            type="submit"
                                            asp-area=""
                                            asp-route="files"
                                            asp-route-name="@agreement.Name"
                                            name="agrValue"
                                            value="@agreement.Name">
                                        @Html.Encode(@System.IO.Path.GetFileNameWithoutExtension(agreement.Name))
                                    </button>

                                </td>
                                <td class="p-1 text-center">
                                    <button type="button" class="btn btn-pharus btn-sm mr-1 btn-delete">
                                        @SharedLocalizer["Delete"]
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="AreaName" value="@Model.SelectedType" />
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/controllers/entitiesController.js" asp-append-version="true"></script>

    <script>
    // ________________________________________________________
    //
    // Delete selected row from agreements table by confirming
    $('.btn-delete').on('click', function () {
        const tokenAgr = $('#form-agreement input[name=__RequestVerificationToken]').val();
        const areaName = '@Model.SelectedType';
        let con = confirm('Are you sure you want to delete this?');

        if (!con) {
            event.preventDefault();
        } else {
            const agrValue = $(this).closest('tr').find('button').eq(0).val();
            const fileId = $(this).closest('tr').attr('class');
            $.blockUI({ message: `<h3>Please wait a moment...</h3>` });
            $.ajax({
                url: '/media/delete',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                headers: { 'X-CSRF-TOKEN': tokenAgr },
                data: { fileId: fileId, agrValue: agrValue, areaName: areaName },
            }).done(function (data) {
                if (data.fileId == 'false') {
                    alert('Something wrong!');
                    return false;
                }

                $('.tbl-agreements .' + data.fileId).remove();
                $('.tbl-distinct-agreements .' + data.fileId).remove();
                setTimeout($.unblockUI, 2000);
                }).fail(function (request, status, error) {
                    $.unblockUI();
                    alert(request.responseText)
                });
            }
        });
    </script>
}