@model DataGate.Web.ViewModels.Agreements.AllAgreementOverviewViewModel

@{
    ViewData["Title"] = SharedLocalizer["Agreements"];
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-details">
                <div class="mx-auto mb-4">
                    <div class="h-100 d-flex">
                        <div class="mr-2">
                            <a asp-area=""
                               asp-route="allagreements"
                               class="btn btn-pharus btn-sm mb-1">
                                @SharedLocalizer["BACK TO ALL"]
                            </a>
                        </div>

                        <form class="d-flex mx-3"
                              method="post"
                              asp-route="All"
                              id="update-form">
                            <div>
                                <input type="hidden" asp-for="SelectedType" />

                                <input type="date"
                                       asp-for="Date"
                                       min="2018-01-01">

                                <input type="submit"
                                       class="btn btn-pharus btn-sm mb-1"
                                       value="UPDATE"></>
                            </div>
                        </form>
                        <div class="title-main-agreements">
                            <h2 class="">@Model.SelectedType @SharedLocalizer["Agreements"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <h2 class="text-center title-responsive">@Model.SelectedType @SharedLocalizer["Agreements"]</h2>

        <form id="form-agreement" method="post">
            <div class="table-wrapper-double-scroll">
                <table class="table table-bordered table-hover tbl-agreements table-view-pharus">
                    <thead>
                        <tr>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["File Description"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Company Name"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Contract Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Activation Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["Expiration Date"]
                            </th>
                            <th class="text-secondary p-1">
                                @SharedLocalizer["File Name"]
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agreement in Model.Agreements)
                        {
                            <tr class="@agreement.FileId">
                                <td class="p-1">
                                    @agreement.Description
                                </td>
                                <td class="p-1">
                                    @agreement.CompanyName
                                </td>
                                <td class="p-1">
                                    @agreement.ContractDate
                                </td>
                                <td class="p-1">
                                    @agreement.ActivationDate
                                </td>
                                <td class="p-1">
                                    @agreement.ExpirationDate
                                </td>
                                <td class="p-1">
                                    <button class="btn-link-pharus text-left"
                                            formtarget="_blank"
                                            type="submit"
                                            asp-area=""
                                            asp-route="files"
                                            asp-route-name="@agreement.SluggedName"
                                            name="agrValue"
                                            value="@agreement.Name">
                                        @Html.Encode(@System.IO.Path.GetFileNameWithoutExtension(agreement.Name))
                                    </button>

                                </td>
                                <td class="p-1 text-center">
                                    <button type="button" class="btn btn-pharus btn-sm mr-1 btn-delete">
                                        @SharedLocalizer["Delete"]
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="AreaName" value="@Model.SelectedType" />
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/controllers/entitiesController.js" asp-append-version="true"></script>

    <script>
        $('.table-view-pharus').DataTable({
            "dom": '<"top"lf>rt<"bottom"ip><"clear">',
            "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]],
            stateSave: true,
            "processing": true,
        });

        $(".dataTables_length select").chosen({
            disable_search_threshold: 10,
            width: "50px",
        });

    // ________________________________________________________
    //
    // Delete selected row from agreements table by confirming
        $('.btn-delete').on('click', function () {
            const tokenAgr = $('#form-agreement input[name=__RequestVerificationToken]').val();
            const areaName = '@Model.SelectedType';
            const agrValue = $(this).closest('tr').find('button').eq(0).val();
            const fileId = $(this).closest('tr').attr('class');

            var jqXhr = $.ajax({
            type: 'GET',
            url: '/media/delete',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            headers: { 'X-CSRF-TOKEN': tokenAgr },
            data: { fileId: fileId, agrValue: agrValue, areaName: areaName }
            });

            swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this file!",
            icon: "warning",
            buttons: true,
            dangerMode: true
            }).then((isConfirm) => {
            if (!isConfirm) return;
            jqXhr
            .done(function (data) {
            if (data.fileId == 'false') {
            swal("Error deleting!", "Please try again", {
            icon: "error",
            });
            return false;
            }
            $('.tbl-agreements .' + data.fileId).remove();
            $('.tbl-distinct-agreements .' + data.fileId).remove();
            swal("Your file has been deleted!", {
            icon: "success",
            });
            })
            .fail(function (request, status, error) {
            swal(request.responseText, {
            icon: "error"
            })
            });
            });
            });
    </script>
}