@model DataGate.Web.ViewModels.Agreements.AgreementsLibraryOverviewViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Agreements");
    var fileName = string.Empty;
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-details">
                <div class="mx-auto mb-4">
                    <div class="h-100 d-flex">
                        <div class="mr-2">
                            <a asp-area=""
                               asp-route="allagreements"
                               class="btn btn-datagate btn-sm mb-1">
                                @SharedLocalizer.GetHtmlString("To All")
                            </a>
                        </div>

                        <form class="d-flex mx-3"
                              method="post"
                              asp-route="All"
                              id="update-form">
                            <div>
                                <input type="hidden" asp-for="SelectedType" />

                                <input type="date"
                                       asp-for="Date"
                                       min="2018-01-01">

                                <input type="submit"
                                       class="btn btn-datagate btn-sm mb-1"
                                       value=@SharedLocalizer.GetHtmlString("Update")></>
                            </div>
                        </form>
                        <div class="title-main-agreements">
                            <h2 class="">@Model.SelectedType @SharedLocalizer.GetHtmlString("Agreements")</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <h2 class="text-center title-responsive">@Model.SelectedType @SharedLocalizer.GetHtmlString("Agreements")</h2>

        <form id="form-agreement" method="post">
            <div class="table-wrapper-double-scroll">
                <table class="table table-bordered table-hover tbl-agreements table-view-datagate">
                    <thead>
                        <tr class="dropdown">
                            <td class="file-description"></td>
                            <td class="company-name"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                            {
                                <td></td>
                            }
                        </tr>

                        <tr>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("File Description")
                            </th>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("Company Name")
                            </th>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("Contract Date")
                            </th>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("Activation Date")
                            </th>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("Expiration Date")
                            </th>
                            <th class="th-padding-fxt">
                                @SharedLocalizer.GetHtmlString("File Name")
                            </th>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                            {
                                <th>
                                    @SharedLocalizer.GetHtmlString("Actions")
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agreement in Model.Agreements)
                        {
                            <tr class="@agreement.FileId">
                                <td class="p-1">
                                    @agreement.Description
                                </td>
                                <td class="p-1">
                                    @agreement.CompanyName
                                </td>
                                <td class="p-1">
                                    @agreement.ContractDate
                                </td>
                                <td class="p-1">
                                    @agreement.ActivationDate
                                </td>
                                <td class="p-1">
                                    @agreement.ExpirationDate
                                </td>
                                <td class="p-1">
                                    <button class="btn-link-datagate text-left"
                                            formtarget="_blank"
                                            type="submit"
                                            asp-area=""
                                            asp-route="files"
                                            asp-route-name="@agreement.SluggedName"
                                            name="agrValue"
                                            value="@agreement.Name">
                                        @Html.Raw(StringExtensions.GetFileName(agreement.Name))
                                    </button>
                                </td>

                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.LegalRoleName))
                                {
                                    <td class="p-1 text-center">
                                        <button class="btn btn-datagate btn-sm mr-1"
                                                type="submit"
                                                asp-area=""
                                                asp-route="fees"
                                                asp-route-fileId="@agreement.FileId">
                                            @SharedLocalizer.GetHtmlString("fees")
                                        </button>
                                        |
                                        <button type="button" class="btn btn-datagate btn-sm mr-1 btn-delete">
                                            @SharedLocalizer.GetHtmlString("Delete")
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="AreaName" value="@Model.SelectedType" />
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/deleteFile.js" asp-append-version="true"></script>

    <script>
        $(function () {
            // ________________________________________________________
            //
            // Delete selected row from file table and DB by confirming

            const tokenAgr = $('#form-agreement input[name=__RequestVerificationToken]').val(),
                areaName = '@Model.SelectedType',
                tableAgr = '.tbl-agreements',
                tableAgr_dist = '.tbl-distinct-agreements';

            const MESSAGES_DELETE_AGR = {
                TITLE: '@Html.Raw(SharedLocalizer.GetHtmlString("Are you sure?").Value.ToString())',
                TEXT: '@Html.Raw(SharedLocalizer.GetHtmlString("Once deleted, you will not be able to recover this file!").Value.ToString())',
                BTN_CANCEL: '@Html.Raw(SharedLocalizer.GetHtmlString("Cancel").Value.ToString())',
                TITLE_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Error deleting!").Value.ToString())',
                TEXT_FAIL: '@Html.Raw(SharedLocalizer.GetHtmlString("Please try again").Value.ToString())',
                TITLE_SUCCESS: '@Html.Raw(SharedLocalizer.GetHtmlString("Your file has been deleted!").Value.ToString())'
            };

            deleteFile(tokenAgr, areaName, tableAgr, tableAgr_dist, MESSAGES_DELETE_AGR);

            $.fn.dataTable.moment('DD/MM/YYYY');

            $('.table').DataTable({
                "dom": '<"top"lf>rt<"bottom"ip><"clear">',
                "autoWidth": false,
                "scrollX": true,

                initComplete: function () {
                    this.api().columns([0]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""/></select>')
                            .appendTo($('.dropdown .file-description').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });

                    this.api().columns([1]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""/></select>')
                            .appendTo($('.dropdown .company-name').empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    // this.api function
                } //initComplete function
            });

            $(".dataTables_length select").chosen({
                disable_search_threshold: 10,

                width: "68px",
                placeholder_text_single: ""
            });
    })
    </script>
}