@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Agreements"];
}

<div class="push">
    <h2 class="text-center">
        @SharedLocalizer["ALL PHARUS AGREEMENTS"]
    </h2>

    <hr class="hr-2 bg-pharus">
    <div class="container-column-card mx-auto">
        <div class="row mb-4">
            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="agreements" asp-route-type="@GlobalConstants.FundAreaName">@SharedLocalizer["Fund Agreements"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="agreements" asp-route-type="@GlobalConstants.SubFundAreaName">@SharedLocalizer["Sub Fund Agreements"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="agreements" asp-route-type="@GlobalConstants.ShareClassAreaName">@SharedLocalizer["Share Class Agreements"]</a>
                </div>
            </div>
        </div>
    </div>
</div>