@model Pharus.App.Models.ViewModels.Agreements.AgreementsViewModel
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />

    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="Agreements"
      class="justify-content-between"
      method="post"
      id="entity-form-pharus">

    <div>
        <div>
            <div class="d-flex w-100" id="toolbar-pharus">
                <div>
                    <div class="d-flex h-70">
                        <div>
                            <input type="date"
                                   asp-for="ChosenDate"
                                   id="date-pharus"
                                   min="2018-01-01"
                                   max=@DateTime.Today.ToString("yyyy-MM-dd")>

                            <input type="submit"
                                   class="btn btn-primary btn-sm mb-1"
                                   asp-for="Command"
                                   value="Update Table">

                            <input type="button"
                                   class="btn btn-primary btn-sm mb-1"
                                   id="showFunds"
                                   value="Funds">

                            <input type="button"
                                   class="btn btn-primary btn-sm mb-1"
                                   id="showSubFunds"
                                   value="Sub Funds">

                            <input type="button"
                                   class="btn btn-primary btn-sm mb-1"
                                   id="showShareClasses"
                                   value="Share Classes">
                        </div>
                    </div>

                </div>
                <div>
                    <div class="d-flex h-70 ml-1">
                        <div>
                            <input type="search"
                                   name="searchTerm"
                                   asp-for="SearchTerm"
                                   id="search-input-pharus" />

                            <input type="submit"
                                   class="btn btn-primary btn-sm mb-1"
                                   asp-for="Command"
                                   value="Search"></>
                        </div>
                    </div>
                </div>

                <div class="justify-content-center w-35">
                    <h2 class="text-center text-torshia" id="entityName">All Agreements</h2>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <div id="allFundAgreements" class="mt-3">
            <table class="table table-bordered table-hover">
                <thead>
                    @for (int row = 0; row < 1; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.FundAgreements[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    @Model.FundAgreements[row][col]
                                </th>
                            }
                        </tr>
                    }
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.FundAgreements.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.FundAgreements[row].Length; col++)
                            {
                                <td class="p-1">
                                    @if (Model.FundAgreements[0][col] == "File Name")
                                    {
                                        <button class="btn-link-pharus"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/Funds/ReadPdfFile"
                                                name="read_Pdf">
                                            @Model.FundAgreements[row][col].Split(".")[0]
                                        </button>
                                    }
                                    else
                                    {
                                        @Model.FundAgreements[row][col]
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="allSubFundAgreements" class="mt-3">
            <table class="table table-bordered table-hover">
                <thead>
                    @for (int row = 0; row < 1; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.SubFundAgreements[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    @Model.SubFundAgreements[row][col]
                                </th>
                            }
                        </tr>
                    }
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.SubFundAgreements.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.SubFundAgreements[row].Length; col++)
                            {
                                <td class="p-1">
                                    @if (Model.SubFundAgreements[0][col] == "File Name")
                                    {
                                        <button class="btn-link-pharus"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/Funds/ReadPdfFile"
                                                name="read_Pdf">
                                            @Model.SubFundAgreements[row][col].Split(".")[0]
                                        </button>
                                    }
                                    else
                                    {
                                        @Model.SubFundAgreements[row][col]
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="allShareClassAgreements" class="mt-3">
            <table class="table table-bordered table-hover">
                <thead>
                    @for (int row = 0; row < 1; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.ShareClassAgreements[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    @Model.ShareClassAgreements[row][col]
                                </th>
                            }
                        </tr>
                    }
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.ShareClassAgreements.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.ShareClassAgreements[row].Length; col++)
                            {
                                <td class="p-1">
                                    @if (Model.ShareClassAgreements[0][col] == "File Name")
                                    {
                                        <button class="btn-link-pharus"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/Funds/ReadPdfFile"
                                                name="read_Pdf">
                                            @Model.ShareClassAgreements[row][col].Split(".")[0]
                                        </button>
                                    }
                                    else
                                    {
                                        @Model.ShareClassAgreements[row][col]
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
        }
    </script>
}

