@page "/"
@model LoginModel

@{ 
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Fund Management Software");
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<section class="login-layout">
    <div class="container-fluid login-layout-container">
        <partial name="Scripts/_CookieConsentPartial" />
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 login-content-container">
                <div class="login-content">
                    <partial name="Identity/_HomeIcon" />
                    <h2 class="login-brand">@SharedLocalizer.GetHtmlString("DataGate")</h2>
                    <h2 class="login-title">@SharedLocalizer.GetHtmlString("Login")</h2>
                    <div class="login-form">
                        <form method="POST">
                            <div class="form-group col-md-12 my-4">
                                <div>
                                    <input type="text"
                                           asp-for="Input.Username"
                                           autocomplete="on"
                                           class="form-control"
                                           id="username"
                                           placeholder=@SharedLocalizer.GetHtmlString("Username")>
                                    <div class="d-flex justify-content-center">
                                        <span></span>
                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12 mb-5">
                                <div>
                                    <input type="password"
                                           asp-for="Input.Password"
                                           autocomplete="off"
                                           autofocus
                                           class="form-control active"
                                           id="password"
                                           placeholder="Password">
                                    <div class="icon-show-pass-container">
                                        <i id="icon-show-pass" class="fas fa-eye-slash"></i>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span></span>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <partial name="Identity/_ErrorMessage" model="Model.ErrorMessage" />
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div>
                                    <input type="hidden" id="RecaptchaValue" asp-for="Input.RecaptchaValue" />
                                    <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
                                    <button type="submit"
                                            class="btn"
                                            asp-area="Identity"
                                            asp-page="/Account/Login">
                                        @SharedLocalizer.GetHtmlString("LOGIN")
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div>
                                    <div class="forgot-password-text-container">
                                        <a asp-area="Identity"
                                           asp-page="/Account/ForgotPassword"
                                           class="forgot-password-text">@SharedLocalizer.GetHtmlString("Forgot Password")</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 extra-space-container" style="background-color: #ffffff;"></div>
            <partial name="Identity/_SideImage" />
        </div>
        <partial name="Identity/_FooterIdentity" />
    </div>
</section>

@section Scripts {
    <partial name="Scripts/_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {

            $('#username').val(localStorage.getItem('username-login'));

            $('form').on('submit', function () {
                const fieldsValidation = $('.field-validation-error');
                if (fieldsValidation.length != 0) {
                    fieldsValidation.each(function () {
                        $(this).siblings('span').addClass('icon-svg-warning');
                        $(this).parent().removeClass('d-none');
                        $(this).parent().addClass('d-flex');
                    });
                } else {
                    const username = $("#username").val();
                    localStorage.setItem('username-login', username);
                }
            });

            $('form').keydown(function () {
                const fieldsValidation = $('.field-validation-error');
                if (fieldsValidation.length != 0) {
                    fieldsValidation.each(function () {
                        $(this).parent().removeClass('d-flex');
                        $(this).parent().addClass('d-none');
                    });
                }
            });

            // eye
            const inputPass = document.getElementById('password'),
                icon = document.getElementById('icon-show-pass');

            icon.onclick = function () {

                if (inputPass.className == 'form-control active') {
                    inputPass.setAttribute('type', 'text');
                    icon.className = 'fas fa-eye';
                    inputPass.className = 'form-control';

                } else {
                    inputPass.setAttribute('type', 'password');
                    icon.className = 'fas fa-eye-slash';
                    inputPass.className = 'form-control active';
                }
            }
        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration[$"{AppSettingsSections.GoogleReCaptchaSection}:{GoogleReCaptchaOptions.Key}"]"></script>
    <script>
        grecaptcha.ready(async function () {
            await grecaptcha.execute('@this.Configuration[$"{AppSettingsSections.GoogleReCaptchaSection}:{GoogleReCaptchaOptions.Key}"]', { action: 'login_form' }).then(async function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
