@using DataGate.Common
@model DataGate.Web.InputModels.Files.ExtractViewModel

@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var route = string.Empty;

    if (controller == GlobalConstants.FundsControllerName)
    {
        route = GlobalConstants.FundAllUrl;
    }
}

<div class="modal fade" id="modal-extract" tabindex="-1" role="dialog" aria-labelledby="extractLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="" asp-controller="Media" asp-action="Download" enctype="multipart/form-data">
                <div class="modal-body d-flex">
                    <div class="w-50">
                        <h2 class="text-center">SELECT COLUMNS</h2>
                        @*<select class="multiselect" multiple="multiple" asp-for="Headers">
                            @foreach (var header in Model.Headers)
                            {
                                <option value="@header">
                                    @header
                                </option>
                            }
                        </select>*@
                    </div>
                    <div class="w-50">
                        <h2 class="text-center">SELECT FUNDS</h2>
                        @*<select class="multiselect" multiple="multiple" asp-for="Names">
                            @foreach (var name in Model.Names)
                            {
                                <option value="@name">
                                    @name
                                </option>
                            }
                        </select>*@
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-sm btn-pharus"
                            type="submit"
                            name="Command"
                            value="Excel">
                        Excel
                    </button>

                    <button class="btn btn-sm btn-pharus ml-4"
                            type="submit"
                            name="Command"
                            value="PDF">
                        PDF
                    </button>
                </div>

                <input type="hidden" name="ControllerName" value="@controller" />
                <input type="hidden" id="routeName" name="RouteName" value="@route" />
            </form>
        </div>
    </div>
</div>

@*@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

    <div hidden>
        <table class="table">
            <tr>
                @for (int header = 0; header < Model.Headers.Count; header++)
                {
                    <th>
                        <input class="tblValues" type="text" asp-for="@Model.Headers[header]" value="@Model.Headers[header]" readonly />
                    </th>
                }
            </tr>
            @for (int row = 0; row < Model.Values.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < Model.Values[row].Length; col++)
                    {
                        <td>
                            <input class="tblValues" type="text" asp-for="@Model.Values[row][col]" value="@Model.Values[row][col]" readonly />
                        </td>
                    }
                </tr>
            }
        </table>
    </div>*@