@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="w-50">
    <div class="my-5">
        @if (controllerName == "Funds")
        {
            <u class="text-torshia">PROSPECTUS</u><br>
        }
        else
        {
            <u class="text-torshia">DOCUMENTS</u><br>
        }

        @if (!string.IsNullOrEmpty(Model.ProspectusNameToDisplay))
        {
            <button class="btn-link-pharus mt-3"
                    formtarget="_blank"
                    type="submit"
                    formaction="/@controllerName/ReadPdfFile"
                    name="read_Pdf">
                @Model.ProspectusNameToDisplay
            </button>
        }
    </div>

    <div class="mb-5">
        <u class="text-torshia">AGREEMENTS</u><br>

        <div class="mt-3">
            <table class="table table-hover w-100"
                   id="tbl-distinct-agreements">
                <thead>
                    <tr>
                        <th class="text-secondary p-1">File Description</th>
                        <th class="text-secondary p-1">File Name</th>
                        <th class="text-secondary p-1">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.DistinctAgreementsNamesToDisplay.Count; row++)
                    {
                        <tr id="@row">

                            @for (int col = 0; col < Model.DistinctAgreementsNamesToDisplay[row].Length; col++)
                            {
                                @if (Model.DistinctAgreementsNamesToDisplay[0][col] == "File Name")
                                {
                                    <td>
                                        <button class="btn-link-pharus text-left"
                                                formtarget="_blank"
                                                type="submit"
                                                formaction="/@controllerName/ReadPdfFile"
                                                name="read_Pdf">
                                            @Model.DistinctAgreementsNamesToDisplay[row][col].Split(".")[0]
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary btn-sm mr-1 confirmDelBtn"
                                                formaction="@Url.Action("DeleteAgreement", controllerName,
                                                           new { @fileName = Model.DistinctAgreementsNamesToDisplay[row][col]})">
                                            Delete
                                        </button>
                                    </td>
                                }
                                else if (Model.DistinctAgreementsNamesToDisplay[0][col] == "File Description")
                                {
                                    <td>
                                        @Model.DistinctAgreementsNamesToDisplay[row][col]
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>