@model CreateShareClassInputModel

@{ ViewData["Title"] = SharedLocalizer.GetHtmlString("New Share Class");
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="push">
    <div class="storage-container">
        <form asp-controller="ShareClassStorage"
              asp-action="Create"
              method="post"
              class="d-inline w-75">
            <h4 class="my-4">@SharedLocalizer.GetHtmlString("Create New Share Class")</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-inline" id="div-inputs-to-format">

                <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>tbd</h4>
                    </div>

                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group">
                                <label class="required" asp-for="ShareClassName"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="ShareClassName"
                                       id="formatName">
                                <span asp-validation-for="ShareClassName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="required" asp-for="ISINCode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="ISINCode">
                                <span asp-validation-for="ISINCode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="required" asp-for="SubFundContainer"></label><br>
                                <select class="select-datagate" asp-for="SubFundContainer">
                                    <option selected disabled>-- Choose Container --</option>
                                    @foreach (var container in (HashSet<string>)ViewData["SubFundContainer"])
                                    {
                        <option value="@container">@container</option>}
                                </select>
                            </div>
                            <span asp-validation-for="SubFundContainer" class="text-danger"></span>
                        </div>

                        <div class="column-form">

                            <div class="form-group">
                                <label class="required" asp-for="Status"></label><br>
                                <select class="select-datagate" asp-for="Status">
                                    <option selected disabled>-- Choose Status --</option>
                                    @foreach (var status in (List<string>)ViewData["Status"])
                                    {
                        <option value="@status">@status</option>}
                                </select>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>

                            <div class="form-group">
                                <label class="required" asp-for="CurrencyCode"></label><br>
                                <select class="select-datagate" asp-for="CurrencyCode">
                                    <option selected disabled>-- Choose Currency--</option>
                                    @foreach (var currency in (List<string>)ViewData["CurrencyCode"])
                                    {
                        <option value="@currency">@currency</option>}
                                </select>
                            </div>
                            <span asp-validation-for="CurrencyCode" class="text-danger"></span>

                            <div class="form-group">
                                <label asp-for="InitialPrice"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="InitialPrice">
                                <span asp-validation-for="InitialPrice" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="InitialDate"></label><br>
                                <input asp-for="InitialDate"
                                       type="date"
                                       min="2018-01-01"
                                       class="form-control maxw-270">
                                <span asp-validation-for="InitialDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EndDate"></label><br>
                                <input asp-for="EndDate"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>tbd</h4>
                    </div>


                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="EmissionDate"></label><br>
                                <input asp-for="EmissionDate"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="EmissionDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="InceptionDate"></label><br>
                                <input asp-for="InceptionDate"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="InceptionDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastNavDate"></label><br>
                                <input asp-for="LastNavDate"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="LastNavDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="ExpiryDate"></label><br>
                                <input asp-for="ExpiryDate"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DateBusinessYear"></label><br>
                                <input asp-for="DateBusinessYear"
                                       type="date"
                                       class="form-control maxw-270">
                                <span asp-validation-for="DateBusinessYear" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>tbd</h4>
                    </div>


                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group d-flex justify-content-center">
                                <label asp-for="IsHedged"></label><br>
                                <input type="checkbox"
                                       asp-for="IsHedged"
                                       class="checkbox-lg mt-1 ml-2">
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label asp-for="IsListed"></label><br>
                                <input type="checkbox"
                                       asp-for="IsListed"
                                       class="checkbox-lg mt-1 ml-2">
                            </div>
                            <span asp-validation-for="IsHedged" class="text-danger"></span>
                            <span asp-validation-for="IsListed" class="text-danger"></span>



                        </div>

                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="AccountingCode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="AccountingCode">
                                <span asp-validation-for="AccountingCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorCode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="ValorCode">
                                <span asp-validation-for="ValorCode" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>tbd</h4>
                    </div>


                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group">
                                <label class="required" asp-for="FACode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="FACode"
                                       id="faCodeInput">
                                <span asp-validation-for="FACode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TACode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="TACode"
                                       id="taCodeInput">
                                <span asp-validation-for="TACode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="WKN"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="WKN">
                                <span asp-validation-for="WKN" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProspectusCode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="ProspectusCode">
                                <span asp-validation-for="ProspectusCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-form-container mb-100">
                    <div class="column-form-header">
                        <h4>tbd</h4>
                    </div>

                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="BloombergMarket"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="BloombergMarket">
                                <span asp-validation-for="BloombergMarket" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BloombergCode"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="BloombergCode">
                                <span asp-validation-for="BloombergCode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BloombergId"></label><br>
                                <input type="text"
                                       class="form-control maxw-270"
                                       asp-for="BloombergId">
                                <span asp-validation-for="BloombergId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column-form">
                            <div class="form-group">
                                <label asp-for="InvestorType"></label><br>
                                <select class="select-datagate" asp-for="InvestorType">
                                    <option selected disabled>-- Choose Investor Type --</option>
                                    @foreach (var type in (List<string>)ViewData["InvestorType"])
                                    {
                        <option value="@type">@type</option>}
                                </select>
                            </div>
                            <span asp-validation-for="InvestorType" class="text-danger"></span>

                            <div class="form-group">
                                <label asp-for="ShareType"></label><br>
                                <select class="select-datagate" asp-for="CurrencyCode">
                                    <option selected disabled>-- Choose Share Type--</option>
                                    @foreach (var type in (List<string>)ViewData["ShareType"])
                                    {
                        <option value="@type">@type</option>}
                                </select>
                            </div>
                            <span asp-validation-for="ShareType" class="text-danger"></span>

                            <div class="form-group">
                                <label asp-for="CountryIssue"></label><br>
                                <select class="select-datagate" asp-for="CountryIssue">
                                    <option selected disabled>-- Choose Country Issue --</option>
                                    @foreach (var issue in (List<string>)ViewData["Country"])
                                    {
                        <option value="@issue">@issue</option>}
                                </select>
                            </div>
                            <span asp-validation-for="CountryIssue" class="text-danger"></span>

                            <div class="form-group">
                                <label asp-for="CountryRisk"></label><br>
                                <select class="select-datagate" asp-for="CountryRisk">
                                    <option selected disabled>-- Choose Country Risk --</option>
                                    @foreach (var risk in (List<string>)ViewData["Country"])
                                    {
                        <option value="@risk">@risk</option>}
                                </select>
                            </div>
                            <span asp-validation-for="CountryRisk" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-holder-storage">
                <input type="hidden" id="RecaptchaValue" asp-for="RecaptchaValue" />
                <a class="btn btn-datagate btn-lg"
                   asp-area="@EndpointsConstants.ShareClassArea"
                   asp-route="@EndpointsConstants.RouteAll@EndpointsConstants.ShareClassesController">
                    @SharedLocalizer.GetHtmlString("To All")
                </a>
                <button type="submit"
                        class="btn btn-datagate btn-lg btn-confirm-create ml-5">
                    @SharedLocalizer.GetHtmlString("Create Share Class")
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="Scripts/_CreateEditScriptsPartial">
}
