@using DataGate.Common
@model DataGate.Web.ViewModels.Entities.SpecificEntityViewModel

@{
    ViewData["Title"] = GlobalConstants.FundsControllerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="push justify-content-between">
    <form asp-controller="FundDetails"
          asp-action="Details"
          method="post">

        <input type="text" asp-for="Id" hidden>
        <input asp-for="Date" type="date" hidden>

        <partial name="SpecificEntity/_Toolbar" />

        @if (this.TempData[GlobalConstants.InfoKey] != null)
        {
            <div class="alert alert-success" id="infoMessage">
                @this.TempData[GlobalConstants.InfoKey]
            </div>
        }

        @if (this.TempData[GlobalConstants.ErrorKey] != null)
        {
            <div class="alert alert-danger" id="errorMessage">
                @this.TempData[GlobalConstants.ErrorKey]
            </div>
        }

        <div class="justify-content-between" id="infoAndDocumentsView">
            <partial name="SpecificEntity/_Info" />
            <partial name="SpecificEntity/_Load_Documents" />
        </div>

        <hr class="bg-pharus hr-2" />
    </form>

    <div class="row ml-3" id="div-select-addInfo">
        <label class="text-torshia m-1 pr-3">FUND ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg select-pharus form-control input-sm"
                id="fundAdditionalInfSelect"
                asp-for="SelectAdditionalInf">
            <option value="" selected disabled>Select</option>
            <option value="SubFunds">Sub Funds</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
            <option value="AllAgreements">All Agreements</option>
        </select>
    </div>
    <form id="load-form" method="get"></form>

    <div id="allDocuments" class="mt-3 d-none">
        <table id="loadAllDocuments" class="table table-bordered table-hover">
        </table>
    </div>

    <div id="allAgreements" class="mt-3 d-none">
        <table id="loadAllAgreements" class="table table-bordered table-hover">
        </table>
    </div>

    <div class="container py-5" id="timelineChanges">
        <div class="row" id="loadTimelines">
        </div>
    </div>

    <div id="subEntities" class="mt-4">
        <div id="loadSubEntities">
        </div>
    </div>
</div>

<form asp-area=""
      asp-controller="Upload"
      asp-action="Document"
      method="post"
      enctype="multipart/form-data">

    <input asp-for="Id" type="text" hidden>
    <input asp-for="StartConnection" type="text" hidden>
    <input asp-for="EndConnection" type="text" hidden>
    <input asp-for="Date" type="date" hidden>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal"
         id="upDocModal"
         role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid justify-content-center" id="docModalBody">
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-area=""
      asp-controller="Upload"
      asp-action="Agreement"
      enctype="multipart/form-data">

    <input asp-for="Id" type="text" hidden>
    <input asp-for="StartConnection" type="text" hidden>
    <input asp-for="EndConnection" type="text" hidden>
    <input asp-for="Date" type="date" hidden>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal"
         id="upAgrModal"
         role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid justify-content-center" id="agrModalBody">
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/delete/deleteAgreement.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/loadUploadModals.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controllers/subEntitiesController.js" asp-append-version="true"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        // Fade timeout for tempdata messages
        setTimeout(function () {
            $('#infoMessage').fadeOut();
            $('#errorMessage').fadeOut();
        }, 5000);

        $(document).ready(function () {

            const token = $("#load-form input[name=__RequestVerificationToken]").val();
            const controller = '@GlobalConstants.FundDetailsControllerName';
            const entityId = @Model.Id;
            const date = '@Model.Date';
            const url = '/loadSubFunds';

            // ________________________________________________________
            //
            // Load documents and agreements upload lists

            loadUploadModals(token, controller);

            // ________________________________________________________
            //
            // Load all documents, agreements and timelines

            loadAddInfo(token, entityId, date, controller, url);

            // ________________________________________________________
            //
            // Delete selected row from agreements table by confirming

            //const urlDel = "/FundSubEntities/DeleteAgreement";
            //passAgrUrlToDelete(urlDel);

            // ________________________________________________________
            //
            // Automatic Scroll if selected value

            //const JumpTo = document.getElementById('fundAdditionalInfSelect');
            //if (JumpTo.value == "SubFunds") {
            //    $(this).scrollTop($(JumpTo).position().top);
            //}
        });
    </script>
}
