@model UploadAgreementInputModel

<div class="modal fade" id="upload-agreement" tabindex="-1" role="dialog" aria-labelledby="uploadAgreementLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-agreement" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadAgreementLabel">
                    @SharedLocalizer.GetHtmlString("Upload Agreement")
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-controller="Upload" asp-action="Agreement" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden">
                    <input asp-for="Date" type="hidden">
                    <input asp-for="AreaName" type="hidden">
                    <input asp-for="RouteName" type="hidden">

                    <div class="form-group">
                        <select asp-for="AgreementsFileTypes" hidden>
                            @foreach (var type in Model.AgreementsFileTypes)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>

                        <select class="select-datagate" asp-for="AgrType">
                            <option selected disabled value="">
                                @SharedLocalizer.GetHtmlString("-- Choose Agreement Type --")
                            </option>
                            @foreach (var type in Model.AgreementsFileTypes)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>

                    </div>
                    <span asp-validation-for="AgrType" class="text-danger"></span>

                    <div class="form-group">
                        <label asp-for="ContractDate" ></label><br>
                        <input asp-for="ContractDate"
                               type="date"
                               class="form-control maxw-270"
                               id="contractDate">
                        <span asp-validation-for="ContractDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ActivationDate" ></label><br>
                        <input asp-for="ActivationDate"
                               type="date"
                               min="2018-01-01"
                               class="form-control maxw-270"
                               id="activationDate">
                        <span asp-validation-for="ActivationDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExpirationDate" ></label><br>
                        <input asp-for="ExpirationDate"
                               type="date"
                               min="2018-01-01"
                               class="form-control maxw-270"
                               id="expirationDate">
                    </div>

                    <div class="form-group">

                        <select asp-for="AgreementsStatus" hidden>
                            @foreach (var type in Model.AgreementsStatus)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>

                        <select class="select-datagate" asp-for="Status">
                            <option selected disabled value="">
                                @SharedLocalizer.GetHtmlString("-- Choose Status --")
                            </option>
                            @foreach (var status in Model.AgreementsStatus)
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="Status" class="text-danger"></span>

                    <div class="form-group">
                        <select asp-for="Companies" hidden>
                            @foreach (var type in Model.Companies)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>

                        <select class="select-datagate" asp-for="Company">
                            <option selected disabled value="">
                                @SharedLocalizer.GetHtmlString("-- Choose Company --")
                            </option>
                            @foreach (var company in Model.Companies)
                            {
                                <option value="@company">@company</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="Company" class="text-danger"></span>

                    <div class="form-group">
                        <input asp-for="FileToUpload"
                               type="file"
                               accept="application/pdf"
                               id="input-file"
                               class="input-file-custom">
                    </div>
                    <span asp-validation-for="FileToUpload" class="text-danger"></span>

                    <script>
                        $('#input-file').change(function () {
                            $(this).removeClass("input-file-custom");
                        });
                        // Set input date fields on agreement upload
                        (function () {
                            const contractDate = document.getElementById('contractDate');
                            let activationDate = document.getElementById('activationDate');
                            let expirationDate = document.getElementById('expirationDate');
                            if (contractDate) {
                                contractDate.addEventListener('change', setActivationDate);
                            }

                            function setActivationDate() {
                                //activationDate.setAttribute('min', contractDate.value);
                                expirationDate.setAttribute('min', contractDate.value);
                                activationDate.value = contractDate.value;
                            }
                        })();
                    </script>

                    <partial name="Scripts/_ChosenScriptsPartial" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    @SharedLocalizer.GetHtmlString("Close")
                </button>
                <button type="button"
                        class="btn btn-datagate text-white"
                        data-save="modal">
                    @SharedLocalizer.GetHtmlString("Upload Agreement")
                </button>
                <button type="button"
                        class="btn btn-datagate text-white"
                        data-save="modalFees">
                    @SharedLocalizer.GetHtmlString("Upload Agreement + Fees")
                </button>
            </div>
        </div>
    </div>
</div>