@model UserPanelViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("User Panel");
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
}

<div class="branch-background">
    <h2 class="push text-center">
        @SharedLocalizer.GetHtmlString("DATAGATE PLATFORM")
    </h2>

    <div class="d-flex">
        <div class="div-carousel-center">
            @foreach (var item in Model.ShareClasses)
            {
                <div class="carousel-column">
                    <div class="carousel-card">
                        <h5 class="mt-5 mb-3">
                            <a asp-area="@EndpointsConstants.ShareClassArea"
                               asp-route="@EndpointsConstants.RouteDetails@EndpointsConstants.ShareClassArea"
                               asp-route-id="@item.ScId"
                               asp-route-date="@DateTimeExtensions.ToWebFormat(DateTime.UtcNow)">
                                @item.ScOfficialShareClassName
                            </a>
                        </h5>
                        <p>
                            &euro;@item.ScInitialPrice<br />
                            @item.ScInitialDate.ToString("dd-MMM-yyyy")
                        </p>
                    </div>
                </div>
            }
        </div>

        <div class="container-column-card mx-auto">
            <div class="row mb-4">
                <div class="column">
                    <div class="card">
                        <a asp-area="Fund" asp-route="allFunds">@SharedLocalizer.GetHtmlString("Fund Library")</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a asp-area="SubFund" asp-route="allSubFunds">@SharedLocalizer.GetHtmlString("Sub Fund Library")</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a asp-area="ShareClass" asp-route="allShareClasses">@SharedLocalizer.GetHtmlString("Share Class Library")</a>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="column">
                    <div class="card">
                        <a asp-area="" asp-route="allagreements">@SharedLocalizer.GetHtmlString("Agreements Library")</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a asp-area="" asp-route="reportoverview">@SharedLocalizer.GetHtmlString("Reports")</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a href="https://www.pharusmanagement.com" target="_blank">@SharedLocalizer.GetHtmlString("Main Website")</a>
                    </div>
                </div>
            </div>

            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <a href="">@SharedLocalizer.GetHtmlString("Projects")</a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="All">@SharedLocalizer.GetHtmlString("View Users")</a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Create">@SharedLocalizer.GetHtmlString("Create User")</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="recent-container">

            <h2>Recently Viewed</h2>

            <ul>
                @foreach (var item in Model.RecentlyViewed)
                {
                    <li>
                        <a href="@item.LinkUrl">@item.DisplayLink</a>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/slick/slick.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.div-carousel-center').slick({
                vertical: true,
                verticalSwiping: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                prevArrow: '<div class="slick-prev"></div>',
                nextArrow: '<div class="slick-next"></div>',
            });
        });
    </script>
}