@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["User Panel"];
}

<div class="push">

    <h2 class="text-center">
        @SharedLocalizer["PHARUS DATAGATE PLATFORM"]
    </h2>

    <hr class="hr-2 bg-pharus">
    <div class="container-column-card mx-auto">
        <div class="row mb-4">
            <div class="column">
                <div class="card">
                    <a asp-area="Fund" asp-route="allFunds">@SharedLocalizer["Fund Library"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="SubFund" asp-route="allSubFunds">@SharedLocalizer["Sub Fund Library"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="ShareClass" asp-route="allShareClasses">@SharedLocalizer["Share Class Library"]</a>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="allagreements">@SharedLocalizer["Agreements Library"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a href="">@SharedLocalizer["Reports"]</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a href="">@SharedLocalizer["Projects"]</a>
                </div>
            </div>
        </div>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="row">
                <div class="column">
                    <div class="card">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="ViewUsers">@Localizer["Users"]</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="CreateUser">@Localizer["Create User"]</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <a href="">@SharedLocalizer["About"]</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>