@model DataGate.Web.ViewModels.Entities.EntitiesViewModel

<div hidden>
    <table class="table">
        <tr>

            @for (int header = 0; header < Model.Headers.Count; header++)
            {
                <th>
                    <input class="tblValues" type="text" asp-for="@Model.Headers[header]" value="@Model.Headers[header]" readonly />
                </th>
            }
        </tr>
    </table>
    <table class="table">
        @for (int row = 0; row < Model.Values.Count; row++)
        {
            <tr>
                @for (int col = 0; col < Model.Values[row].Length; col++)
                {
                    <td>
                        <input class="tblValues" type="text" asp-for="@Model.Values[row][col]" value="@Model.Values[row][col]" readonly />
                    </td>
                }
            </tr>
        }
    </table>
</div>

@*<div hidden>
    <table class="table">
        <tr>
            @for (int header = 0; header < Model.Headers.Count; header++)
            {
                <th>
                    <input class="tblValues" type="text" asp-for="@Model.Headers[header]" value="@Model.Headers[header]" readonly />
                </th>
            }
        </tr>
        @for (int row = 0; row < Model.Values.Count; row++)
        {
            <tr>
                @for (int col = 0; col < Model.Values[row].Length; col++)
                {
                    <td>
                        <input class="tblValues" type="text" asp-for="@Model.Values[row][col]" value="@Model.Values[row][col]" readonly />
                    </td>
                }
            </tr>
        }
    </table>
</div>*@

