@model SubEntitiesViewModel

@{
    var controller = this.ViewContext
        .RouteData
        .Values[EndpointsConstants.ControllerRouteDataValue]
        .ToString();

    var containerRoute = StringSwapper.ByController(
            controller,
            EndpointsConstants.RouteDetails + EndpointsConstants.FundArea,
            EndpointsConstants.RouteDetails + EndpointsConstants.DisplaySub + EndpointsConstants.FundArea,
            string.Empty);
}

<form class="d-flex"
      method="post"
      id="update-form">

    <input asp-for="Id" type="hidden">
    <input asp-for="Container" type="hidden">

    <div>
        <label>@SharedLocalizer.GetHtmlString("As of:")</label>
        <input type="date"
               asp-for="Date"
               min="2018-01-01">
        <input type="submit"
               class="btn btn-datagate btn-sm mb-1"
               name="Command"
               value=@SharedLocalizer.GetHtmlString("Update")></>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="vertical mx-3"></div>

    <div>
        <a class="btn btn-datagate btn-sm mr-2" asp-route="@containerRoute" asp-route-id="@Model.Id" asp-route-date="@Model.Date">
            @SharedLocalizer.GetHtmlString("CONTAINER")
        </a>
    </div>

    <div class="ml-4">
        <button type="button"
                class="btn btn-sm btn-datagate"
                data-toggle="modal"
                data-target="#columnModal"
                name="showColumnSelection">
            @SharedLocalizer.GetHtmlString("Layout")
        </button>
    </div>

    <partial name="SubEntities/_TableLayout" />
</form>

<div class="vertical mx-3"></div>

<div>
    <form method="post" id="extract-form"></form>

    <button class="btn btn-sm btn-datagate"
            id="btn-extract-excel"
            type="button"
            value="Excel">
        EXCEL
    </button>

    <button class="btn btn-sm btn-datagate ml-4"
            id="btn-extract-pdf"
            type="button"
            value="PDF">
        PDF
    </button>
</div>

<div class="vertical mx-3"></div>