@model SubEntitiesViewModel

@{
    var controller = this.ViewContext
        .RouteData
        .Values[EndpointsConstants.ControllerRouteDataValue]
        .ToString();

    var targetRoute = StringSwapper.ByController(controller,
                                                 EndpointsConstants.RouteDetails + EndpointsConstants.DisplaySub + EndpointsConstants.FundArea,
                                                 EndpointsConstants.RouteDetails + EndpointsConstants.ShareClassArea,
                                                 string.Empty);

    var targetArea = StringSwapper.ByController(controller,
                                                EndpointsConstants.DisplaySub + EndpointsConstants.FundArea,
                                                EndpointsConstants.ShareClassArea,
                                                string.Empty);

    var entityId = string.Empty;
}

<div class="table-responsive border-0 mx-auto mt-2">
    <table class="table table-hover table-view-datagate" id="table-to-extract">
        <thead>
            <tr>
                @for (int header = 0; header < Model.Headers.Count; header++)
                {
                    <th class="pr-3 help"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="@Model.Headers[header]">
                        @Model.Headers[header]
                    </th>
                }
            </tr>
        </thead>
        <tbody id="tbody-update-inactive">
            @foreach (var row in Model.Values)
            {
                entityId = row[GlobalConstants.IndexEntityIdInTable];

                <tr>
                    @for (int col = 0; col < row.Length; col++)
                    {
                        if (Model.Headers.ToList()[col].Contains("NAME"))
                        {
                            <td class="p-1 td-name-link">
                                <a asp-area="@targetArea" asp-route="@targetRoute" asp-route-id="@entityId" asp-route-date="@Model.Date">
                                    @row[col]
                                </a>
                            </td>
                        }
                        else
                        {
                            <td class="p-1">
                                @row[col]
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

