@using DataGate.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] | @GlobalConstants.SystemName</title>
    <meta name="description" content="@this.ViewData["Title"]" />
    <meta name="keywords" content="" />

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/reset-css.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" asp-append-version="true">
        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" asp-append-version="true">
        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" asp-append-version="true" />

        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-mediaquery.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-buttons.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-checkbox.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-search.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-multiselect.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-scrollbar.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-select.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-sidenav.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-timeline.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus-toolbar.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

        <style>
            body {
                background-image: none;
            }
        </style>
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    @if (this.User.Identity.IsAuthenticated)
    {
        <header class="position-fixed w-100" style="top:0; z-index:1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-pharus">

                <div>
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <span style="cursor:pointer"
                                      id="sideNavIcon">
                                    <img src="/images/Logo_Pharus.jpg"
                                         class="img-responsive"
                                         width="50"
                                         alt="Pharus Management">
                                </span>

                                <ul id="mySidenav" class="sidenav">
                                    <li>
                                        <a style="cursor:pointer"
                                           id="closeBtn"
                                           class="closebtn">
                                            &times;
                                        </a>
                                    </li>

                                    <li class="dropdown pt-5">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Funds<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light"
                                               asp-route="allFunds">
                                                List
                                            </a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a asp-area="Admin"
                                                   asp-route="newFund"
                                                   class="dropdown-item font-weight-light">
                                                    Create
                                                </a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>

                                    <li class="dropdown">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Sub Funds<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light" href="/SubFunds/All">List</a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item font-weight-light" href="/SubFunds/CreateSubFund">Create</a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Share Classes<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light" href="/ShareClasses/All">List</a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item font-weight-light" href="/ShareClasses/CreateShareClass">Create</a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>

                                    <li class="li-bordered">
                                        <a href="/Agreements/All">
                                            Agreements
                                        </a>
                                    </li>

                                    <li class="li-bordered">
                                        &copy;  @DateTime.Now.Year @GlobalConstants.DataGateFooterDisplay
                                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>

                            </li>

                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area="Fund"
                                   asp-route="allFunds">Fund Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action=""> Sub Fund Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Share Class Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Agreements Library</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="navbar-toggler ml-auto"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarNav">
                    <div id="intro" class="text-right">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Reports</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Projects</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller="User"
                                   asp-action="Index">Panel</a>
                            </li>

                            @*@if (this.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item active">
                                        <a class="nav-link nav-link-white active"
                                           asp-area=""
                                           asp-controller="Settings"
                                           asp-action="Index">Settings</a>
                                    </li>
                                }*@

                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Manage/Index">@this.User.Identity.Name</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container-fluid push-mobile">
                @RenderBody()
            </div>
        </main>
        @*<footer>
                <div class="bg-pharus footer-pharus">
                    <div class="text-white text-center">
                        &copy;  @DateTime.Now.Year @GlobalConstants.DataGateFooterDisplay
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </footer>*@
    }
    else
    {
        <main>
            @RenderBody()
        </main>
    }

    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>

        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/select2/dist/js/select2.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/js/manageSideNavBar.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/manageDropdowns.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/multiselect.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/autocomplete/loadAutocomplete.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/double-scroll/jquery.doubleScroll.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
