@inject IStringLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <script>
        window.onscroll = function () { showBackToTop() };
        function showBackToTop() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementsByClassName("back-to-top")[0].style.display = "inline";
            } else {
                document.getElementsByClassName("back-to-top")[0].style.display = "none";
            }
        }

        function backToTop() {
            this.scrollTo(0, 0);
        }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] | @GlobalConstants.SystemName</title>
    <meta name="description" content="@this.ViewData["Title"]" />
    <meta name="keywords" content="" />

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" asp-append-version="true">
        <link type="text/css" rel="stylesheet" href="~/lib/jqueryui/themes/smoothness/jquery-ui.min.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" asp-append-version="true">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    @if (this.User.Identity.IsAuthenticated)
    {
        <header>
            <div class="header-pharus">
                <div class="w-50">
                    <div class="header-pharus-app-navbar d-flex">
                        <div class="mx-2 mt-2">
                            <img src="/images/Logo_Pharus.jpg"
                                 class="img-responsive sidenav-icon"
                                 width="50"
                                 alt="Pharus Management">
                            <ul id="main-sidenav" class="sidenav">
                                <li>
                                    <a class="sidenav-btn-close">
                                        &times;
                                    </a>
                                </li>

                                <li class="dropdown pt-5 li-bordered">
                                    <a class="sidenav-dropdown-btn open-submenu">
                                        @SharedLocalizer["Funds"]
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="dropdown-container">
                                        <a class="dropdown-item font-weight-light"
                                           asp-area="Fund"
                                           asp-route="allFunds">
                                            @SharedLocalizer["View All"]
                                        </a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a asp-area="Admin"
                                               asp-route="newFund"
                                               class="dropdown-item font-weight-light">
                                                @SharedLocalizer["Create"]
                                            </a>
                                        }
                                    </div>
                                </li>

                                <li class="dropdown li-bordered mt-3">
                                    <a class="sidenav-dropdown-btn">
                                        @SharedLocalizer["Sub Funds"]
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="dropdown-container">
                                        <a class="dropdown-item font-weight-light"
                                           asp-area="SubFund"
                                           asp-route="allSubFunds">
                                            @SharedLocalizer["View All"]
                                        </a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item font-weight-light" href="/SubFunds/CreateSubFund">
                                                @SharedLocalizer["Create"]
                                            </a>
                                        }
                                    </div>
                                </li>
                                <li class="dropdown li-bordered mt-3">
                                    <a class="sidenav-dropdown-btn">
                                        @SharedLocalizer["Share Classes"]
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="dropdown-container">
                                        <a class="dropdown-item font-weight-light"
                                           asp-area="ShareClass"
                                           asp-route="allShareClasses">
                                            @SharedLocalizer["View All"]
                                        </a>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item font-weight-light" href="/ShareClasses/CreateShareClass">
                                                @SharedLocalizer["Create"]
                                            </a>
                                        }
                                    </div>
                                </li>

                                <li class="li-bordered mt-3">
                                    <a href="/Agreements/All">
                                        @SharedLocalizer["Agreements"]
                                    </a>
                                </li>

                                <li class="mt-3 text-color-grey-pharus text-center" id="sidenav-footer">
                                    <div>
                                        &copy;  @DateTime.Now.Year @GlobalConstants.DataGateFooterDisplay
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center mt-3">
                            <div class="ml-2 mobile-none">
                                <a asp-area="Fund"
                                   asp-route="allFunds">@SharedLocalizer["Fund Library"]</a>
                            </div>
                            <div class="ml-2 mobile-none">
                                <a asp-area="SubFund"
                                   asp-route="allSubFunds">@SharedLocalizer["Sub Fund Library"]</a>
                            </div>
                            <div class="ml-2 mobile-none">
                                <a asp-area="ShareClass"
                                   asp-route="allShareClasses">@SharedLocalizer["Share Class Library"]</a>
                            </div>
                            <div class="ml-2 mobile-none">
                                <a asp-area="Agreement"
                                   asp-route="allAgreements">@SharedLocalizer["Agreements Library"]</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="w-50 d-flex responsive-navbar">
                    <div class="search-form-wrapper-responsive">
                        <button class="open-search-box mt-3">
                            <svg class="icon-svg-search-responsive" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>

                        <div class="search-form-wrapper mr-5 d-none">
                            <form class="w-100" method="post" asp-area="" asp-route="search-results">
                                <div class="search-box-responsive">
                                    <input type="search"
                                           name="searchTerm"
                                           placeholder="Search the site..."
                                           autocomplete="off"
                                           autocorrect="off"
                                           autocapitalize="off"
                                           required />

                                    <button type="submit" class="search" title="Search">
                                        <svg class="icon-svg-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="search-box-wrapper mr-5">
                        <form method="post" asp-area="" asp-route="search-results">
                            <div class="search-box">
                                <input type="search"
                                       name="searchTerm"
                                       placeholder="@SharedLocalizer["Find a Pharus Share Class..."]"
                                       autocomplete="off"
                                       autocorrect="off"
                                       autocapitalize="off"
                                       required />

                                <button type="submit" class="search" title="Search">
                                    <svg class="icon-svg-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="responsive-menu ml-5">
                        <a class="ml-3 open-responsive-menu">
                        </a>
                        <div class="responsive-menu-user">
                            <div class="menu-user-container">
                                <ul>
                                    <li>
                                        <a asp-area=""
                                           asp-controller=""
                                           asp-action="">@SharedLocalizer["Reports"]</a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller=""
                                           asp-action="">@SharedLocalizer["Projects"]</a>
                                    </li>
                                    <li>
                                        <a asp-area=""
                                           asp-controller="User"
                                           asp-action="Index">@SharedLocalizer["Panel"]</a>
                                    </li>

                                    <li>
                                        <a asp-area="Identity" asp-page="/Account/Manage/Email">@this.User.Identity.Name</a>
                                    </li>

                                    <li>
                                        <a asp-area="Identity" asp-page="/Account/Logout">@SharedLocalizer["Logout"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid push-mobile">
                @RenderBody()
            </div>
        </main>

        <a class="back-to-top" href="javascript:backToTop()">
            <svg aria-hidden="true" class="icon-svg arrow-up" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </a>
    }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jqueryui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/lib/popperjs/umd/popper.js" asp-append-version="true"></script>

        @*/*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/*@
        <script>
            $.widget.bridge('uibutton', $.ui.button);
            $.widget.bridge('uitooltip', $.ui.tooltip);
        </script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />

        <script src="~/js/navbar.js" asp-append-version="true"></script>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>