<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] | @GlobalConstants.SystemName</title>
    <meta name="description" content="@this.ViewData["Title"]" />
    <meta name="keywords" content="" />

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/identity/identity.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

        <link type="text/css" rel="stylesheet" href="~/css/pharus/pharus.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/mediaquery.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/scrollbar.css" asp-append-version="true" />

        <link type="text/css" rel="stylesheet" href="~/css/pharus/buttons.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/checkbox.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/multiselect.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/select.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/sidenav.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/timeline.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/toolbar.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/css/pharus/style.css" asp-append-version="true" />

        <style>
            body {
                background-image: none;
            }
        </style>
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body style="height: auto">
    @if (this.User.Identity.IsAuthenticated)
    {
        <header class="position-fixed w-100" style="top:0; z-index:1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-pharus">

                <div>
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <span style="cursor:pointer"
                                      id="sideNavIcon">
                                    <img src="/images/Logo_Pharus.jpg"
                                         class="img-responsive"
                                         width="50"
                                         alt="Pharus Management">
                                </span>

                                <ul id="mySidenav" class="sidenav">
                                    <li>
                                        <a style="cursor:pointer"
                                           id="closeBtn"
                                           class="closebtn">
                                            &times;
                                        </a>
                                    </li>

                                    <li class="dropdown pt-5">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Funds<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light"
                                               asp-area="Fund"
                                               asp-route="allFunds">
                                                List
                                            </a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a asp-area="Admin"
                                                   asp-route="newFund"
                                                   class="dropdown-item font-weight-light">
                                                    Create
                                                </a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>

                                    <li class="dropdown">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Sub Funds<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light" href="/SubFunds/All">List</a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item font-weight-light" href="/SubFunds/CreateSubFund">Create</a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <button class="dropdown-btn"
                                                name="dr-btn-SideNav">
                                            Share Classes<i class="fa fa-caret-down"></i>
                                        </button>
                                        <div id="myDropdown" class="dropdown-container">
                                            <a class="dropdown-item font-weight-light" href="/ShareClasses/All">List</a>
                                            @if (this.User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item font-weight-light" href="/ShareClasses/CreateShareClass">Create</a>
                                            }

                                            <a class="dropdown-item font-weight-light" href="#">Report</a>
                                        </div>
                                    </li>

                                    <li class="li-bordered">
                                        <a href="/Agreements/All">
                                            Agreements
                                        </a>
                                    </li>

                                    <li class="mt-3 text-color-grey-pharus text-center" id="sidenav-footer">
                                        <div>
                                            &copy;  @DateTime.Now.Year @GlobalConstants.DataGateFooterDisplay
                                        </div>
                                    </li>
                                </ul>

                            </li>

                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area="Fund"
                                   asp-route="allFunds">Fund Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action=""> Sub Fund Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Share Class Library</a>
                            </li>
                            <li class="nav-item ml-2 mobile-none" style="margin-top:2%">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Agreements Library</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="navbar-toggler ml-auto"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarNav">
                    <div id="intro" class="text-right">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Reports</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller=""
                                   asp-action="">Projects</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link nav-link-white active"
                                   asp-area=""
                                   asp-controller="User"
                                   asp-action="Index">Panel</a>
                            </li>

                            @*@if (this.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item active">
                                        <a class="nav-link nav-link-white active"
                                           asp-area=""
                                           asp-controller="Settings"
                                           asp-action="Index">Settings</a>
                                    </li>
                                }*@

                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Manage/Email">@this.User.Identity.Name</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container-fluid push-mobile">
                @RenderBody()
            </div>
        </main>
    }
    else
    {
        <main>
            @RenderBody()
        </main>
    }

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/popperjs/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/sideNavBar.js" asp-append-version="true"></script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
