@inject JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] | @GlobalConstants.AppName</title>
    <meta name="description" content="@this.ViewData["Title"]" />
    <meta name="google-site-verification" content="FW9DrNour5PH4usRUVC2xbURXdVwiyupBHItF763Dvc" />
    <meta name="keywords" content=@GlobalConstants.Keywords />
    <meta name="author" content=@GlobalConstants.AuthorName />
    <link rel="icon" href="~/images/Logo_Pharus_small.jpg" alt="@GlobalConstants.AppName" type="image/x-icon">

    <partial name="_Css" />

    @RenderSection("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @if (this.User.Identity.IsAuthenticated)
    {
        <partial name="_Header" />

        <main>
            <div class="push-mobile">
                <partial name="_NotificationPanelMain" />
                <partial name="_About" />

                @RenderBody()
            </div>
        </main>

        <a class="back-to-top">
            <svg aria-hidden="true" class="icon-svg arrow-up" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </a>
        <partial name="_BlockUIPanel" />
    }

    <partial name="_Js" />

    @this.RenderSection("Scripts", required: false)
</body>
</html>