@model IEnumerable<NotificationViewModel>

<div>
    @foreach (var notification in Model)
    {

        @if (notification.Status == "Unread")
        {
            <div class="notification-card unread">
                <a href="@notification.LinkUrl">
                    <div class="notification-content">
                        <p>
                            @notification.Content
                        </p>
                    </div>

                    <div class="notification-footer">
                        <p>@notification.CreatedOnFormatted</p>
                    </div>
                </a>
                <span class="dot" data-id="@notification.Id"></span>
            </div>
        }
        else
        {
            <div class="notification-card">
                <a href="@notification.LinkUrl">
                    <div class="notification-content">
                        <p>
                            @notification.Content
                        </p>

                    </div>

                    <div class="notification-footer">
                        <p>@notification.CreatedOnFormatted</p>
                    </div>
                </a>
            </div>
        }
    }
</div>
