@model ErrorViewModel
@{
    this.ViewData["Title"] = SharedLocalizer.GetHtmlString("Page not found");
}

<div class="container-not-found">
    <img src="/images/Page-not-found.jpg" alt="404 Page Not Found Image" />

    <div class="container-not-found-content">
        <h2>@SharedLocalizer.GetHtmlString("The page is not found")</h2>
        <p>
            @SharedLocalizer.GetHtmlString("Looks like we can't find what you're looking for.") <br />
            @SharedLocalizer.GetHtmlString("Maybe one of these links will help you.")
        </p>

        <div class="container-not-found-links">
            <a href="/">@SharedLocalizer.GetHtmlString("Panel")</a>
            <a href="/funds">@SharedLocalizer.GetHtmlString("Funds")</a>
            <a href="/subfunds">@SharedLocalizer.GetHtmlString("Sub Funds")</a>
            <a href="/shareclasses">@SharedLocalizer.GetHtmlString("Share Classes")</a>
            <a href="/allagreements">@SharedLocalizer.GetHtmlString("Agreements")</a>
            <a href="/reportoverview">@SharedLocalizer.GetHtmlString("Reports")</a>
            <a href="/account/email">@SharedLocalizer.GetHtmlString("Profile")</a>
        </div>
    </div>
</div>
