@model Pharus.App.Models.BindingModels.Funds.CreateFundBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create Pharus Fund</h4>

<form asp-controller="Funds" asp-action="CreateFund" method="post" class="d-inline">
    <div class="d-inline">
        @for (int row = 0; row < Model.EntityProperties.Count; row++)
        {
            @for (int col = 0; col < Model.EntityProperties[row].Length; col++)
            {
                <div>
                    <label class="control-label text-secondary">
                        @Model.EntityProperties[0][col]
                    </label>

                    @if (Model.EntityProperties[0][col] == "FUND ID PHARUS")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <input asp-for="FId"
                               type="text"
                               class="form-control maxw-270" />
                    }

                    else if (Model.EntityProperties[0][col] == "INITIAL DATE")
                    {
                        <input asp-for="ChosenDate"
                               type="date"
                               id="fundDatetime"
                               min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")
                               class="form-control maxw-270">
                    }

                    else if (Model.EntityProperties[0][col] == "STATUS")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="FStatus">
                            @foreach (var status in (List<string>)ViewData["FStatusList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }

                    else if (Model.EntityProperties[0][col] == "LEGAL FORM")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="LegalForm">
                            @foreach (var status in (List<string>)ViewData["LegalFormList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }

                    else if (Model.EntityProperties[0][col] == "LEGAL VEHICLE")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="LegalVehicle">
                            @foreach (var status in (List<string>)ViewData["LegalVehicleList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }

                    else if (Model.EntityProperties[0][col] == "LEGAL TYPE")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="LegalType">
                            @foreach (var status in (List<string>)ViewData["LegalTypeList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }

                    else if (Model.EntityProperties[0][col] == "COMPANY DESCRIPTION")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="CompanyTypeDesc">
                            @foreach (var status in (List<string>)ViewData["CompanyTypeDescList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }
                    else if (Model.EntityProperties[0][col] == "COMPANY TYPE")
                    {
                        <input asp-for="@Model.EntityProperties[row][col]"
                               type="text"
                               class="form-control maxw-270" hidden />
                        <select class="form-control maxw-270" id="fStatus" asp-for="CompanyAcronym">
                            @foreach (var status in (List<string>)ViewData["CompanyAcronymList"])
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    }

                    else
                    {
                        <input type="text"
                               class="form-control maxw-270" />
                    }
                </div>
            }
        }
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn bg-pharus text-white"
                name="create_button"
                style="margin-right:40px"
                onclick="return confirm('Are you sure you want to create this?')">
            Create Fund
        </button>
    </div>
</form>

<div>
    <a asp-action="All">Back to List</a>
</div>