@model Pharus.App.Models.BindingModels.Funds.CreateFundBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create Pharus Fund</h4>

<form method="post" class="d-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-inline"
         id="createFundForm">
        <div class="form-group">
            <label asp-for="InitialDate" class="text-torshia"></label><br>
            <input asp-for="InitialDate"
                   type="date"
                   id="fundDatetime"
                   min="2018-01-01" max=@DateTime.Today.ToString("yyyy-MM-dd")
                   class="form-control maxw-270">
            <span asp-validation-for="InitialDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="text-torshia"></label><br>
            <input asp-for="EndDate"
                   type="date"
                   min="@DateTime.Today.ToString("yyyy-MM-dd")"
                   class="form-control maxw-270">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundName" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FundName" 
                   id="fundNameInput">
            <span asp-validation-for="FundName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CSSFCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CSSFCode"
                   id="cssfCodeInput">
            <span asp-validation-for="CSSFCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FStatus" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="FStatus">
                <option selected disabled>-- Choose Status --</option>
                @foreach (var status in (List<string>)ViewData["FStatusList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="FStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalForm" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalForm">
                <option selected disabled>-- Choose Form --</option>
                @foreach (var status in (List<string>)ViewData["LegalFormList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="LegalForm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalVehicle" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalVehicle">
                <option selected disabled>-- Choose Vehicle --</option>
                @foreach (var status in (List<string>)ViewData["LegalVehicleList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="LegalVehicle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalType" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalType">
                <option selected disabled>-- Choose Type --</option>
                @foreach (var status in (List<string>)ViewData["LegalTypeList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="LegalType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FACode"
                   id="faCodeInput">
            <span asp-validation-for="FACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DEPCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="DEPCode"
                   id="depCodeInput">
            <span asp-validation-for="DEPCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TACode"
                   id="taCodeInput">
            <span asp-validation-for="TACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyTypeDesc" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CompanyTypeDesc">
                <option selected disabled>-- Choose Description --</option>
                @foreach (var status in (List<string>)ViewData["CompanyTypeDescList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="CompanyTypeDesc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyAcronym" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CompanyAcronym">
                <option selected disabled>-- Choose Type --</option>
                @foreach (var status in (List<string>)ViewData["CompanyAcronymList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="CompanyAcronym" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TinNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TinNumber"
                   id="tinNumberInput">
            <span asp-validation-for="TinNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LEICode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="LEICode"
                   id="leiCodeInput">
            <span asp-validation-for="LEICode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="RegNumber"
                   id="regNumberInput">
            <span asp-validation-for="RegNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn bg-pharus text-white"
                name="create_button"
                style="margin-right:40px">
            Create Fund
        </button>
    </div>
</form>

<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts{

    <script type="text/javascript" src="~/js/inputCaps.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            inputCaps();
        }
    </script> 
}