@model Pharus.App.Models.BindingModels.Funds.EditFundBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Fund @Model.FundName</h4>

<form asp-controller="Funds"
      asp-action="EditFund"
      method="post"
      class="d-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-inline"
         id="createForm">

        <div class="form-group">
            <label asp-for="InitialDate" class="text-torshia"></label><br>
            <input asp-for="InitialDate"
                   type="date"
                   class="form-control maxw-270">
            <span asp-validation-for="InitialDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundId" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FundId"
                   readonly>
            <span asp-validation-for="FundId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundName" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FundName">
            <span asp-validation-for="FundName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CSSFCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CSSFCode">
            <span asp-validation-for="CSSFCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="Status">
                @foreach (var status in (List<string>)ViewData["FStatus"])
                {
                    if (status == Model.EntityProperties[1][5])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalForm" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalForm">
                @foreach (var status in (List<string>)ViewData["LegalForm"])
                {
                    if (status == Model.EntityProperties[1][6])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalForm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalVehicle" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalVehicle">
                @foreach (var status in (List<string>)ViewData["LegalVehicle"])
                {
                    if (status == Model.EntityProperties[1][7])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalVehicle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalType" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalType">
                @foreach (var status in (List<string>)ViewData["LegalType"])
                {
                    if (status == Model.EntityProperties[1][8])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FACode"
                   id="faCodeInput">
            <span asp-validation-for="FACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DEPCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="DEPCode"
                   id="depCodeInput">
            <span asp-validation-for="DEPCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TACode"
                   id="taCodeInput">
            <span asp-validation-for="TACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyTypeDesc" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CompanyTypeDesc">
                @foreach (var status in (List<string>)ViewData["CompanyTypeDesc"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="CompanyTypeDesc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TinNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TinNumber"
                   id="tinNumberInput">
            <span asp-validation-for="TinNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LEICode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="LEICode"
                   id="leiCodeInput">
            <span asp-validation-for="LEICode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="RegNumber"
                   id="regNumberInput">
            <span asp-validation-for="RegNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CommentTitle" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CommentTitle"
                   id="regNumberInput">
            <span asp-validation-for="CommentTitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CommentArea" class="text-torshia"></label><br>
            <textarea class="form-control maxw-270"
                      asp-for="CommentArea"
                      id="regNumberInput">
            </textarea>
            <span asp-validation-for="CommentArea" class="text-danger"></span>
        </div>
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn bg-pharus text-white"
                id="confirmEditBtn"
                name="update_button"
                style="margin-right:40px">
            Update Fund
        </button>
    </div>
</form>

<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/formatInput.js"></script>
    <script type="text/javascript" src="~/js/confirmUpdate.js"></script>

    <script>
        window.onload = () => {
            manageSideNavBar();
            manageDropdowns();
            formatInput();
            confirmUpdate();
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>    
}