@model Pharus.App.Models.BindingModels.Funds.EditFundBindingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Fund @Model.FundName</h4>

<form asp-controller="Funds" asp-action="EditFund" method="post" class="d-inline">
    <div class="d-inline"
         id="editFundForm">

        <div class="form-group">
            <label asp-for="InitialDate" class="text-torshia"></label><br>
            <input asp-for="InitialDate"
                   type="date"
                   min=@DateTime.Today.ToString("yyyy-MM-dd")
                   class="form-control maxw-270">
            <span asp-validation-for="InitialDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundId" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FundId"
                   readonly>
            <span asp-validation-for="FundId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FundName" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FundName">
            <span asp-validation-for="FundName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CSSFCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CSSFCode">
            <span asp-validation-for="CSSFCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FStatus" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="FStatus">
                @foreach (var status in (List<string>)ViewData["FStatusList"])
                {
                    if (status == Model.EntityProperties[1][5])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="FStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalForm" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalForm">
                @foreach (var status in (List<string>)ViewData["LegalFormList"])
                {
                    if (status == Model.EntityProperties[1][6])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalForm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalVehicle" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalVehicle">
                @foreach (var status in (List<string>)ViewData["LegalVehicleList"])
                {
                    if (status == Model.EntityProperties[1][7])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalVehicle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LegalType" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="LegalType">
                @foreach (var status in (List<string>)ViewData["LegalTypeList"])
                {
                    if (status == Model.EntityProperties[1][8])
                    {
                        <option selected value="@status">@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <span asp-validation-for="LegalType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="FACode"
                   id="faCodeInput">
            <span asp-validation-for="FACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DEPCode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="DEPCode"
                   id="depCodeInput">
            <span asp-validation-for="DEPCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TACode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TACode"
                   id="taCodeInput">
            <span asp-validation-for="TACode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyTypeDesc" class="text-torshia"></label><br>
            <select class="form-control maxw-270" asp-for="CompanyTypeDesc">
                @foreach (var status in (List<string>)ViewData["CompanyTypeDescList"])
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="CompanyTypeDesc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TinNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="TinNumber"
                   id="tinNumberInput">
            <span asp-validation-for="TinNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LEICode" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="LEICode"
                   id="leiCodeInput">
            <span asp-validation-for="LEICode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegNumber" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="RegNumber"
                   id="regNumberInput">
            <span asp-validation-for="RegNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CommentTitle" class="text-torshia"></label><br>
            <input type="text"
                   class="form-control maxw-270"
                   asp-for="CommentTitle"
                   id="regNumberInput">
            <span asp-validation-for="CommentTitle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CommentArea" class="text-torshia"></label><br>
            <textarea class="form-control maxw-270"
                      asp-for="CommentArea"
                      id="regNumberInput">
            </textarea>
            <span asp-validation-for="CommentArea" class="text-danger"></span>
        </div>
    </div>

    <div class="button-holder mt-4">
        <button type="submit"
                class="btn bg-pharus text-white"
                name="update_button"
                style="margin-right:40px"
                onclick="return confirm('Are you sure you want to update this?')">
            Update Fund
        </button>
    </div>
</form>

<div>
    <a asp-action="All">Back to List</a>
</div>