@model Pharus.App.Models.ViewModels.Funds.SpecificFundViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="View" class="justify-content-between" method="post">

        <div class="table-responsive border-0 mx-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @for (int row = 0; row < 1; row++)
                        {
                            @for (int col = 0; col < Model.ActiveFund[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    <h5>
                                        @Model.ActiveFund[row][col]
                                    </h5>
                                </th>
                            }
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.ActiveFund.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.ActiveFund[row].Length; col++)
                            {
                                <td class="p-1">
                                    @Model.ActiveFund[row][col]
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <label for="date"
               class="text-torshia">SELECT DATE:</label>
        <input type="date"
               name="chosenDate"
               id="fundDatetime"
               asp-for="ChosenDate"
               value="@DateTime.Today.ToString("yyyy-MM-dd")">

        <input type="submit"
               class="bg-pharus text-white"
               asp-for="Command"
               value="Update Table"></>

        <input type="submit"
               class="bg-pharus text-white center-block"
               asp-for="Command"
               value="Extract Table As Excel" />

        <input type="submit"
               class="bg-pharus text-white center-block"
               asp-for="Command"
               value="Extract Table As PDF" />

        <div class="pharusSubfundSearch float-xl-right">
            <input type="text"
                   name="searchString"
                   asp-for="SearchString" />

            <input type="submit"
                   class="bg-pharus text-white"
                   asp-for="Command"
                   value="Filter" />
        </div>

        <hr class="bg-pharus hr-2" />

        <div class="table-responsive border-0 mx-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @for (int row = 0; row < 1; row++)
                        {
                            @for (int col = 0; col < Model.AFSubFunds[row].Length; col++)
                            {
                                <th class="text-secondary p-1">
                                    <h5>
                                        @Model.AFSubFunds[row][col]
                                    </h5>
                                </th>
                            }
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (int row = 1; row < Model.AFSubFunds.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < Model.AFSubFunds[row].Length; col++)
                            {
                                <td class="p-1">
                                    @Model.AFSubFunds[row][col]
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </form>

