@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: none;
            /*background-repeat: no-repeat;
            background-size: cover;
            margin: auto;*/
        }
    </style>
}

<form asp-controller="Funds" class="justify-content-between" method="post">

    <partial name="SpecificEntityUpdatePartial" />

    <div class="d-flex justify-content-between">

        <partial name="SpecificEntityInfoPartial" />
        <div class="w-35 float-right">
            <partial name="SpecificEntityDocumentsPartial" />
            @if (this.User.IsInRole("Admin"))
            {
                <div class="mt-5">
                    <a href="/Funds/EditFund/@Model.EntityId" class="btn bg-pharus text-white">Edit Fund</a>
                </div>
            }
        </div>
    </div>

    <partial name="SpecificEntitySearchPartial" />
    <partial name="ExtractSubEntitiesViewPartial" />

    <hr class="bg-pharus hr-2" />

    <div class="d-flex">
        <div class="dropdown pt-5 mr-5">
            <button type="button" 
                    class="dropdown-btn maxw-270"
                    name="dr-btn-SubEntities">
                SUBFUNDS<i class="fa fa-caret-down"></i>
            </button>
            <div id="myDropdown" 
                 class="dropdown-container">

                <partial name="EntitySubEntitiesBindingTablePartial" />

                <div class="table-responsive border-0 mx-auto" 
                     id="tableDoubleScroll">
                    <table class="table table-hover" 
                           name="EntitySubEntities">
                        <thead>
                            <tr>
                                @for (int row = 0; row < 1; row++)
                                {
                                    @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                    {
                                        <th class="text-secondary p-1">
                                            <h5>
                                                @Model.EntitySubEntities[row][col]
                                            </h5>
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 1; row < Model.EntitySubEntities.Count; row++)
                            {
                                <tr class="tableRowPharus" onclick="document.location = '/SubFunds/ViewEntitySE/@Model.EntitySubEntities[row][2]'">
                                    @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                    {
                                        <td class="p-1">
                                            @Model.EntitySubEntities[row][col]
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="dropdown pt-5 ml-5">
            <button type="button" 
                    class="dropdown-btn maxw-270"
                    name="dr-btn-SubEntities">
                TIMELINE CHANGES<i class="fa fa-caret-down"></i>
            </button>
            <div id="myDropdown" 
                 class="dropdown-container">

                <div class="table-responsive border-0 mx-auto" 
                     id="tableDoubleScroll">
                    <table class="table table-hover" 
                           name="EntitySubEntities">
                        <thead>
                            <tr>
                                @for (int row = 0; row < 1; row++)
                                {
                                    @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                    {
                                        <th class="text-secondary p-1">
                                            <h5>
                                                @Model.EntitySubEntities[row][col]
                                            </h5>
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 1; row < Model.EntitySubEntities.Count; row++)
                            {
                                <tr class="tableRowPharus" onclick="document.location = '/SubFunds/ViewEntitySE/@Model.EntitySubEntities[row][2]'">
                                    @for (int col = 0; col < Model.EntitySubEntities[row].Length; col++)
                                    {
                                        <td class="p-1">
                                            @Model.EntitySubEntities[row][col]
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            let url = "/Funds/AutoCompleteSubFundList";
            let entityId = @HttpContextAccessor.HttpContext.Session.GetString("entityId");

            $("#SearchTerm").select2({
                placeholder: "Select Sub Funds",
                theme: "classic",
                ajax: {
                    url: url,
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return {
                            searchTerm: params.term,
                            entityId: entityId
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/js/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('#tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });
        });
    </script>
}