@model Pharus.App.Models.ViewModels.Entities.SpecificEntityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    var valDatesLabel = @Html.Raw(Json.Serialize(Model.TSPriceDates));
    var valDataBlUSD = @Html.Raw(Json.Serialize(Model.TSPriceBloombergUSD));
    var valDataBlEUR = @Html.Raw(Json.Serialize(Model.TSPriceBloombergEUR));
    var valDataSixEUR = @Html.Raw(Json.Serialize(Model.TSPriceSixUSD));
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: none;
        }
    </style>
}

<form asp-controller="SubFunds"
      class="justify-content-between"
      method="post">

    <div class="d-flex m-1 pr-3">
        <p>SUBFUND CONTAINER :</p> <a href="/SubFunds/ViewEntitySE/@Model.BaseEntityId/@Model.ChosenDate" class="text-torshia font-weight-bold">@Model.BaseEntityName</a>
    </div>

    <partial name="SpecificEntityUpdatePartial" />

    <div class="d-flex justify-content-between">

        <partial name="SpecificEntityInfoPartial" />

        <div style="width:60%;">
            <canvas id="aumSC_Canvas"></canvas>
        </div>
        <div class="w-35 float-right">
            @*<partial name="SpecificEntityDocumentsPartial" />*@

            @if (this.User.IsInRole("Admin"))
            {
                @*<div class="mt-5">
                        <a href="/ShareClasses/EditShareClass/@Model.EntityId" class="btn bg-pharus text-white">Edit ShareClass</a>
                    </div>*@
                @*<div class="mt-5">
                        <a href="" class="btn bg-pharus text-white">Edit SubFund Connection</a>
                    </div>*@
            }
        </div>
    </div>

    <partial name="SpecificEntitySearchPartial" />
    <partial name="ExtractSubEntitiesViewPartial" />

    <div class="row w-25 ml-3 mb-5">
        <label class="text-torshia m-1 pr-3">SHARECLASS ADDITIONAL INFORMATION</label>
        <select class="custom-select-lg pharus-select form-control input-sm"
                id="shareClassChoicesSelect"
                name="shareClassChoicesSelect">
            <option value="">Select</option>
            <option value="TimelineChanges">Timeline Changes</option>
            <option value="AllDocuments">All Documents</option>
        </select>
    </div>

    <div id="allDocuments">
        <table class="table table-bordered table-hover">
            <thead>
                @for (int row = 0; row < 1; row++)
                {
                    <tr>
                        @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                        {
                            <th class="text-secondary p-1">
                                <h5>
                                    @Model.EntityDocuments[row][col]
                                </h5>
                            </th>
                        }
                    </tr>
                }
            </thead>

            <tbody>
                @for (int row = 1; row < Model.EntityDocuments.Count; row++)
                {
                    <tr>
                        @for (int col = 0; col < Model.EntityDocuments[row].Length; col++)
                        {
                            <td class="p-1">
                                @if (Model.EntityDocuments[0][col] == "File Name")
                                {
                                    <button class="btn-link"
                                            formtarget="_blank"
                                            type="submit"
                                            formaction="/@controllerName/ReadPdfFile"
                                            name="read_Pdf">
                                        @Model.EntityDocuments[row][col]
                                    </button>
                                }
                                else
                                {
                                    @Model.EntityDocuments[row][col]

                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container py-5"
         id="timelineChanges">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <ul class="timeline">
                    @for (int row = 1; row < Model.EntityTimeline.Count; row++)
                    {
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">@Model.EntityTimeline[row][3]</h2>
                            <span class="small text-gray">
                                <i class="fa fa-clock-o mr-1"></i>@Model.EntityTimeline[row][1] - @Model.EntityTimeline[row][2]
                            </span>
                            <p class="text-small mt-2 font-weight-light">@Model.EntityTimeline[row][4]</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.doubleScroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.double-scroll').doubleScroll();
            $('.tableDoubleScroll').doubleScroll({ resetOnWindowResize: true });

            $("#shareClassChoicesSelect").on('change', function () {
                let dropdownvalue = $("#shareClassChoicesSelect option:selected").val();

                if (dropdownvalue == 'TimelineChanges') {
                    $("#timelineChanges").css('visibility', 'visible');
                    $("#allDocuments").css('visibility', 'hidden');
                }
                else if (dropdownvalue == 'AllDocuments') {
                    $("#allDocuments").css('visibility', 'visible');
                    $("#timelineChanges").css('visibility', 'hidden');
                }
                else {
                    $("#timelineChanges").css('visibility', 'hidden');
                    $("#allDocuments").css('visibility', 'hidden');
                }
            });
        });
    </script>

    <script type="text/javascript" src="~/js/manageSubEntitiesSelectMenu.js"></script>

    <script>
        window.onload = function () {
            var ctx = document.getElementById('aumSC_Canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            manageSideNavBar();
            manageDropdowns();
            manageSESelectMenu();
        };
    </script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    <script src="~/lib/jquery/Chart.js/Chart.min.js"></script>
    <script src="~/lib/jquery/Chart.js/utils.js"></script>

    <script>
        let config = {
            type: 'line',
            data: {
                labels: @valDatesLabel,
                datasets: [
                    {
                    label: 'Bloomberg EUR',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: @valDataBlEUR,
                    fill: false,
                    },
                    {
                    label: 'Bloomberg USD',
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: @valDataBlUSD,
                    fill: false,
                    },
                    {
                    label: 'SiX EUR',
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    data: @valDataSixEUR,
                    fill: false,
                    }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'AUM For ShareClasses'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }
                }
            }
        };
    </script>
}