@model DataGate.Web.ViewModels.Reports.ReportOverviewViewModel
@{
    ViewData["Title"] = SharedLocalizer["Reports"];

    var date = DateTimeParser.ToWebFormat(Model.Date);
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-details">
                <div class="mx-auto mb-4">
                    <div class="h-100 d-flex">
                        <div class="mr-2">
                            <a asp-area=""
                               asp-route="allreports"
                               class="btn btn-pharus btn-sm mb-1">
                                @SharedLocalizer["BACK TO ALL"]
                            </a>
                        </div>

                        <form class="d-flex mx-3"
                              method="post"
                              id="update-form">
                            <div>
                                <input type="hidden" asp-for="SelectedType" />

                                <input type="month" asp-for="Date">

                                <input type="submit"
                                       class="btn btn-pharus btn-sm mb-1 mr-2"
                                       value="UPDATE"></>
                            </div>
                        </form>

                        <form method="post" id="extract-form"></form>
                        <div class="mr-3">
                            <button class="btn btn-sm btn-pharus mb-1"
                                    id="btn-extract-excel"
                                    type="button"
                                    value="Excel">
                                EXCEL
                            </button>
                        </div>
                        <div class="mx-2">
                            <button class="btn btn-sm btn-pharus mb-1"
                                    id="btn-extract-pdf"
                                    type="button"
                                    value="PDF">
                                PDF
                            </button>
                        </div>

                        <div class="title-main-reports">
                            <h2 class="">@Model.SelectedType @SharedLocalizer["Reports"]</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <h2 class="text-center title-responsive">@Model.SelectedType @SharedLocalizer["Reports"]</h2>

        <form id="form-report" method="post">
            <div class="table-responsive mx-auto">
                <table class="table table-bordered table-hover tbl-reports table-view-pharus table-striped" id="table-to-extract">
                    <thead>
                        <tr>
                            <th class="th-fund-name">
                                @SharedLocalizer["Fund Name"]
                            </th>
                            <th>
                                @SharedLocalizer["Fund Admin SF Code"]
                            </th>
                            <th class="th-subfund-name">
                                @SharedLocalizer["SubFund Name"]
                            </th>
                            <th>
                                @SharedLocalizer["CCY"]
                            </th>
                            <th>
                                @SharedLocalizer["NAV Frequency"]
                            </th>
                            <th>
                                @SharedLocalizer["EOM NAV date"]
                            </th>
                            <th>
                                @SharedLocalizer["AuM in EUR"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in Model.Reports)
                        {
                            <tr>
                                <td class="p-1 td-name-link">
                                    <a asp-area="@GlobalConstants.FundAreaName"
                                       asp-route="@GlobalConstants.FundDetailsRouteName"
                                       asp-route-id="@report.FundId"
                                       asp-route-date="@date">
                                        @report.FundName
                                    </a>
                                </td>
                                <td class="p-1">
                                    @report.FundAdminSFCode
                                </td>
                                <td class="p-1 td-name-link">
                                    <a asp-area="@GlobalConstants.SubFundAreaName"
                                       asp-route="@GlobalConstants.SubFundDetailsRouteName"
                                       asp-route-id="@report.SubFundId"
                                       asp-route-date="@date">
                                        @report.SubFundName
                                    </a>
                                </td>
                                <td class="p-1">
                                    @report.CCY
                                </td>
                                <td class="p-1">
                                    @report.NAVFrequency
                                </td>
                                <td class="p-1">
                                    @report.EOMNAVDate
                                </td>
                                <td class="p-1 td-aum-container">
                                    @CurrencyFormatter.ToString(report.AuMInEUR)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" style="text-align:right">@SharedLocalizer["TOTAL:"]</th>
                            <th class="th-aum-total-container"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <input type="hidden" name="AreaName" value="@Model.SelectedType" />
        </form>
    </div>
</div>

@section Scripts{
    <partial name="Scripts/_EntitiesScriptsPartial" />

    <script>
         let model = {
            Date: '@date',
            ControllerName: '@Model.SelectedType',
        };

        $(document).ready(function () {
            dataTableReportHandler('@Model.SelectedType');
            extract(model);
        });
    </script>
}