@model DataGate.Web.ViewModels.Reports.AuMReportViewModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Reports");

    var date = DateTimeExtensions.ToWebFormat(Model.Date);
    decimal aum;
}

<div class="container-all-funds justify-content-between">
    <div class="w-100">
        <div class="mobile-none">
            <hr class="mt-0 mb-auto" />
            <div class="w-100 toolbar-view-details">
                <div class="mx-auto mb-4">
                    <div class="h-100 d-flex">
                        <div class="mr-2">
                            <a asp-area=""
                               asp-route="allreports"
                               asp-route-type="@Model.SelectedType"
                               class="btn btn-datagate btn-sm mb-1">
                                @SharedLocalizer.GetHtmlString("Back to All")
                            </a>
                        </div>

                        <form class="d-flex mx-3"
                              method="post">
                            <div>
                                <input type="month" asp-for="Date" min="2020-02">

                                <input asp-for="SelectedType" hidden>

                                <input type="submit"
                                       class="btn btn-datagate btn-sm mb-1 mr-2"
                                       value=@SharedLocalizer.GetHtmlString("Update")></>
                            </div>
                        </form>
                        <form method="post" id="extract-form"></form>
                        <div class="mr-3">
                            <button class="btn btn-sm btn-datagate mb-1"
                                    id="btn-extract-excel"
                                    type="button"
                                    value="Excel">
                                EXCEL
                            </button>
                        </div>
                        <div class="mx-2">
                            <button class="btn btn-sm btn-datagate mb-1"
                                    id="btn-extract-pdf"
                                    type="button"
                                    value="PDF">
                                PDF
                            </button>
                        </div>
                        <div class="title-main-reports">
                            <h2 class="">@Model.SelectedType @SharedLocalizer.GetHtmlString("Reports")</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-0" />
        </div>

        <h2 class="text-center title-responsive">@EndpointsConstants.FundArea @SharedLocalizer.GetHtmlString("Reports")</h2>

        <form id="form-report" method="post">
            <div class="table-responsive mx-auto">
                <table class="table table-bordered table-hover tbl-reports table-view-datagate table-striped w-100" id="table-to-extract">

                    @if (Model.SelectedType == EndpointsConstants.FundArea)
                    {
                        <thead>
                            <tr>
                                @foreach (var header in Model.Headers.Skip(1))
                                {
                                    <th title="@header">
                                        @header
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 0; row < Model.Values.Count; row++)
                            {
                                var entityId = @Model.Values[row][GlobalConstants.IndexEntityIdInTable];
                                <tr>
                                    @for (int col = 1; col < Model.Values[row].Length; col++)
                                    {
                                        if (Model.Headers.ToList()[col] == "NAME")
                                        {
                                            <td class="p-1 td-name-link">
                                                <a asp-area="@EndpointsConstants.FundArea" asp-route="@EndpointsConstants.RouteDetails@EndpointsConstants.FundArea" asp-route-id="@entityId" asp-route-date="@date">
                                                    @Model.Values[row][col]
                                                </a>
                                            </td>
                                        }
                                        else if (Model.Headers.ToList()[col] != "NAME")
                                        {
                                            <td class="p-1">
                                                @if (decimal.TryParse(Model.Values[row][col], out aum))
                                                {
                                                    @CurrencyFormatter.ToString(aum)
                                                }
                                                else
                                                {
                                                    @SharedLocalizer.GetHtmlString("Not available")
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="p-1">
                                                @Model.Values[row][col]
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="text-align:right">TOTAL:</th>
                                @foreach (var header in Model.Headers.Skip(2))
                                {
                                    <th></th>
                                }
                            </tr>
                        </tfoot>
                    }
                    else if (Model.SelectedType == EndpointsConstants.DisplaySub + EndpointsConstants.FundArea)
                    {
                        <thead>
                            <tr>
                                @foreach (var header in Model.Headers.SkipLast(2))
                                {
                                    <th title="@header">
                                        @header
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 0; row < Model.Values.Count; row++)
                            {
                                var entityId = @Model.Values[row][GlobalConstants.IndexEntityIdInTable];
                                <tr>
                                    @for (int col = 0; col < Model.Values[row].Length - 2; col++)
                                    {
                                        if (Model.Headers.ToList()[col] == "Fund Name")
                                        {
                                            <td class="p-1 td-name-link">
                                                <a asp-area="@EndpointsConstants.FundArea"
                                                   asp-route="@EndpointsConstants.RouteDetails@EndpointsConstants.FundArea"
                                                   asp-route-id="@Model.Values[row][7]"
                                                   asp-route-date="@date">
                                                    @Model.Values[row][col]
                                                </a>
                                            </td>
                                        }
                                        else if (Model.Headers.ToList()[col] == "SubFund Name")
                                        {
                                            <td class="p-1 td-name-link">
                                                <a asp-area="@EndpointsConstants.DisplaySub@EndpointsConstants.FundArea"
                                                   asp-route="@EndpointsConstants.RouteDetails@EndpointsConstants.DisplaySub@EndpointsConstants.FundArea"
                                                   asp-route-id="@Model.Values[row][8]"
                                                   asp-route-date="@date">
                                                    @Model.Values[row][col]
                                                </a>
                                            </td>
                                        }
                                        else if (Model.Headers.ToList()[col] == "AuM in EUR")
                                        {
                                            <td class="p-1 td-aum-container">
                                                @if (decimal.TryParse(Model.Values[row][col], out aum))
                                                {
                                                    @CurrencyFormatter.ToString(aum)
                                                }
                                                else
                                                {
                                                    @SharedLocalizer.GetHtmlString("Not available")
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="p-1">
                                                @Model.Values[row][col]
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6" style="text-align:right">@SharedLocalizer.GetHtmlString("TOTAL:")</th>
                                <th class="th-aum-total-container"></th>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
            <input type="hidden" name="AreaName" value="@Model.SelectedType" />
        </form>

    </div>
</div>

@section Scripts{
    <partial name="Scripts/_ReportsScriptsPartial" />

    <script>
         let model = {
            Date: '@date',
            ControllerName: '@Model.SelectedType',
        };

        $(document).ready(function () {
            dataTableReportHandler('@Model.SelectedType');
            extract(model);
        });
    </script>
}