@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Reports");
}

<div class="branch-background">
    <h2 class="push text-center">
        @SharedLocalizer.GetHtmlString("allPharusReports")
    </h2>

    <hr class="hr-2 bg-black">
    <div class="container-column-card mx-auto">
        <div class="row mb-4">
            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="allreports" asp-route-type="@EndpointsConstants.FundArea">@SharedLocalizer.GetHtmlString("Fund Reports")</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="allreports" asp-route-type="@EndpointsConstants.DisplaySub@EndpointsConstants.FundArea">@SharedLocalizer.GetHtmlString("Sub Fund Reports")</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <a asp-area="" asp-route="allreports" asp-route-type="@EndpointsConstants.ShareClassArea">@SharedLocalizer.GetHtmlString("Share Class Reports")</a>
                </div>
            </div>
        </div>
    </div>
</div>