@model CreateFundInputModel

@{
    ViewData["Title"] = GlobalConstants.CreateActionName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="push">
    <h4>Create New Pharus Fund</h4>

    <form method="post" class="d-inline">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-inline" id="div-format-inputs">

            <div class="form-group">
                <label asp-for="InitialDate" class="text-torshia"></label><br>
                <input asp-for="InitialDate"
                       type="date"
                       min="2018-01-01"
                       class="form-control maxw-270">
                <span asp-validation-for="InitialDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="text-torshia"></label><br>
                <input asp-for="EndDate"
                       type="date"
                       min="@DateTime.Today.ToString("yyyy-MM-dd")"
                       class="form-control maxw-270">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FundName" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="FundName">
                <span asp-validation-for="FundName" class="text-danger"></span>
            </div>

            @if (this.TempData[GlobalConstants.ErrorKey] != null)
            {
                <div class="alert alert-danger" id="errorMessage">
                    @this.TempData[GlobalConstants.ErrorKey]
                </div>
            }

            <div class="form-group">
                <label asp-for="CSSFCode" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="CSSFCode">
                <span asp-validation-for="CSSFCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="text-torshia"></label><br>
                <select class="form-control maxw-270" asp-for="Status">
                    <option selected disabled>-- Choose Status --</option>
                    @foreach (var status in (List<string>)ViewData["Status"])
                    {
                        <option value="@status">@status</option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LegalForm" class="text-torshia"></label><br>
                <select class="form-control maxw-270" asp-for="LegalForm">
                    <option selected disabled>-- Choose Form --</option>
                    @foreach (var form in (List<string>)ViewData["LegalForm"])
                    {
                        <option value="@form">@form</option>
                    }
                </select>
                <span asp-validation-for="LegalForm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LegalVehicle" class="text-torshia"></label><br>
                <select class="form-control maxw-270" asp-for="LegalVehicle">
                    <option selected disabled>-- Choose Vehicle --</option>
                    @foreach (var vehicle in (List<string>)ViewData["LegalVehicle"])
                    {
                        <option value="@vehicle">@vehicle</option>
                    }
                </select>
                <span asp-validation-for="LegalVehicle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LegalType" class="text-torshia"></label><br>
                <select class="form-control maxw-270" asp-for="LegalType">
                    <option selected disabled>-- Choose Type --</option>
                    @foreach (var type in (List<string>)ViewData["LegalType"])
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="LegalType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FACode" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="FACode"
                       id="faCodeInput">
                <span asp-validation-for="FACode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DEPCode" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="DEPCode"
                       id="depCodeInput">
                <span asp-validation-for="DEPCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TACode" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="TACode"
                       id="taCodeInput">
                <span asp-validation-for="TACode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyTypeDesc" class="text-torshia"></label><br>
                <select class="form-control maxw-270" asp-for="CompanyTypeDesc">
                    <option selected disabled>-- Choose Description --</option>
                    @foreach (var desc in (List<string>)ViewData["CompanyTypeDesc"])
                    {
                        <option value="@desc">@desc</option>
                    }
                </select>
                <span asp-validation-for="CompanyTypeDesc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TinNumber" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="TinNumber"
                       id="tinNumberInput">
                <span asp-validation-for="TinNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LEICode" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="LEICode"
                       id="leiCodeInput">
                <span asp-validation-for="LEICode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegNumber" class="text-torshia"></label><br>
                <input type="text"
                       class="form-control maxw-270"
                       asp-for="RegNumber"
                       id="regNumberInput">
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="button-holder mt-4">
            <button type="submit"
                    class="btn btn-pharus btn-sm mb-1"
                    id="confirmCreateBtn"
                    name="create_button"
                    style="margin-right:40px">
                Create Fund
            </button>
            <a class="btn btn-pharus btn-sm" asp-area="Fund" asp-route="allFunds">
                Back to List
            </a>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/createEditForms.js" asp-append-version="true"></script>
}
