@model EditFundInputModel

@{
    ViewData["Title"] = SharedLocalizer.GetHtmlString("Edit Fund");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="push">
    <div class="storage-container">
        <form asp-controller="FundStorage"
              asp-action="Edit"
              method="post"
              class="d-inline w-75">
            <h4 class="my-4">@SharedLocalizer.GetHtmlString("Edit Fund") @Model.FundName</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-inline" id="div-inputs-to-format">

                <div class="form-group" hidden>
                    <label asp-for="Id" ></label><br>
                    <input type="text"
                           class="form-control "
                           asp-for="Id"
                           readonly>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>Identity</h4>
                    </div>

                    <div class="column-form-content">
                        <div class="column-form">
                            <div class="form-group">
                                <label class="required" asp-for="FundName"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="FundName">
                                <span asp-validation-for="FundName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="required" asp-for="LegalForm" ></label><br>
                                <select class="select-datagate" asp-for="LegalForm">
                                    @foreach (var form in (List<string>)ViewData["LegalForm"])
                                    {
                                        if (form == Model.LegalForm)
                                        {
                                            <option selected value="@form">@form</option>
                                        }
                                        else
                                        {
                                            <option value="@form">@form</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="LegalForm" class="text-danger"></span>

                            <div class="form-group">
                                <label class="required" asp-for="LegalVehicle" ></label><br>
                                <select class="select-datagate" asp-for="LegalVehicle">
                                    @foreach (var vehicle in (List<string>)ViewData["LegalVehicle"])
                                    {
                                        if (vehicle == Model.LegalVehicle)
                                        {
                                            <option selected value="@vehicle">@vehicle</option>
                                        }
                                        else
                                        {
                                            <option value="@vehicle">@vehicle</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="LegalVehicle" class="text-danger"></span>

                            <div class="form-group">
                                <label class="required" asp-for="LegalType" ></label><br>
                                <select class="select-datagate" asp-for="LegalType">
                                    @foreach (var type in (List<string>)ViewData["LegalType"])
                                    {
                                        if (type == Model.LegalType)
                                        {
                                            <option selected value="@type">@type</option>
                                        }
                                        else
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="LegalType" class="text-danger"></span>
                            <div class="form-group">
                                <label class="required" asp-for="CompanyTypeDesc" ></label><br>
                                <select class="select-datagate" asp-for="CompanyTypeDesc">
                                    @foreach (var desc in (List<string>)ViewData["CompanyTypeDesc"])
                                    {
                                        if (desc == Model.CompanyTypeDesc)
                                        {
                                            <option selected value="@desc">@desc</option>
                                        }
                                        else
                                        {
                                            <option value="@desc">@desc</option>
                                        }
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="CompanyTypeDesc" class="text-danger"></span>
                        </div>

                        <div class="column-form">
                            <div class="form-group">
                                <label class="required" asp-for="Status" ></label><br>
                                <select class="select-datagate" asp-for="Status">
                                    @foreach (var status in (List<string>)ViewData["Status"])
                                    {
                                        if (status == Model.Status)
                                        {
                                            <option selected value="@status">@status</option>
                                        }
                                        else
                                        {
                                            <option value="@status">@status</option>
                                        }
                                    }
                                </select>                    
                            </div>                    
                            <span asp-validation-for="Status" class="text-danger"></span>
                              
                            <div class="form-group">
                                <label asp-for="CSSFCode" ></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="CSSFCode">
                                <span asp-validation-for="CSSFCode" class="text-danger"></span>
                            </div>

                             <div class="form-group">
                                <label asp-for="InitialDate" ></label><br>
                                <input asp-for="InitialDate"
                                       type="date"
                                       class="form-control">
                                <span asp-validation-for="InitialDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                    
                </div>

                 <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>Third Party</h4>
                    </div>

                    <div class="column-form-content">
                        <div class="column-form">                              
                             <div class="form-group">
                                <label class="required" asp-for="FACode"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="FACode">
                                <span asp-validation-for="FACode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column-form">                              
                            <div class="form-group">
                                <label asp-for="DEPCode"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="DEPCode">
                                <span asp-validation-for="DEPCode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TACode"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="TACode">
                                <span asp-validation-for="TACode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                    
                </div>

                 <div class="column-form-container">
                    <div class="column-form-header">
                        <h4>Additional Information</h4>
                    </div>

                    <div class="column-form-content">
                        <div class="column-form">
                             <div class="form-group">
                                <label asp-for="LEICode" ></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="LEICode">
                                <span asp-validation-for="LEICode" class="text-danger"></span>
                            </div>                            
                            <div class="form-group">
                                <label asp-for="TinNumber" ></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="TinNumber">
                                <span asp-validation-for="TinNumber" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label asp-for="RegNumber"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="RegNumber">
                                <span asp-validation-for="RegNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column-form">
                             <div class="form-group">
                                <label asp-for="VATRegNumber"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="VATRegNumber">
                                <span asp-validation-for="VATRegNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VATIdentificationNumber"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="VATIdentificationNumber">
                                <span asp-validation-for="VATIdentificationNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IBICNumber"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="IBICNumber">
                                <span asp-validation-for="IBICNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                    
                </div>

                 <div class="column-form-container mb-100">
                    <div class="column-form-header">
                        <h4>Change Information</h4>
                    </div>
                    <div class="column-form-content">
                        <div class="column-form">                            
                            <div class="form-group">
                                <label class="required" asp-for="CommentTitle"></label><br>
                                <input type="text"
                                       class="form-control"
                                       asp-for="CommentTitle">
                                <span asp-validation-for="CommentTitle" class="text-danger"></span>
                            </div>
                              
                            <div class="column-form">
                                <div class="form-group">                                    
                                    <label asp-for="CommentArea"></label><br>                        
                                    <textarea class="form-control "
                                              asp-for="CommentArea">
                                    </textarea>
                                    <span asp-validation-for="CommentArea" class="text-danger"></span>                            
                                </div>                            
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="button-holder-storage">
                <input type="hidden" id="RecaptchaValue" asp-for="RecaptchaValue" />
                <a class="btn btn-datagate btn-lg" asp-area="@EndpointsConstants.FundArea" asp-route="@EndpointsConstants.RouteAll@EndpointsConstants.FundsController">
                    @SharedLocalizer.GetHtmlString("To All")
                </a>
                <button type="submit"
                        class="btn btn-datagate btn-lg btn-confirm-update ml-5"
                        name="update_button">
                    @SharedLocalizer.GetHtmlString("Update Fund")
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="Scripts/_CreateEditScriptsPartial">
}
