@{
    this.ViewData["Title"] = SharedLocalizer.GetHtmlString("Home Page");
    this.Layout = "_LayoutHome";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="Scripts/_CookieConsentPartial" />
    <header>
        <div class="wrapper-language-bar">
            <partial name="_SelectLanguagePartial" />
        </div>

        <div class="container-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/Layer_Logo.png">
            </a>
        </div>
    </header>

    <div class="container-home text-center">
        <div class="row welcome-message mb-4">
            <div class="col-md-12 div-text-pharus">
                <h1 class="text-white text-pharus">
                    <i>
                        @SharedLocalizer.GetHtmlString("welcomeMessage")
                        <br />
                        @SharedLocalizer.GetHtmlString("dataGatePlatform")
                    </i>
                </h1>
            </div>
        </div>
        <div class="row container-btn">
            <div class="col-md-12 pharus-btn container-btn-login">
                <a asp-area="Identity" asp-page="/Account/Login">
                    <img src="~/images/Login_Button.png">
                </a>
            </div>
        </div>
        <div class="row footer-first">
            <div class="col-md-12">
                <div class="">
                    <div class="inner text-white">
                        <p>
                            <a class="text-white a-underline mr-2" asp-area="" asp-route="privacy">@SharedLocalizer.GetHtmlString("Privacy Policy")</a>
                            <a class="text-white a-underline mr-2" asp-area="" asp-route="cookie">@SharedLocalizer.GetHtmlString("Cookie Policy")</a>
                            <a class="text-white a-underline mr-2" asp-area="" asp-route="conditions">@SharedLocalizer.GetHtmlString("Conditions of Use")</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-second">
            <div class="col-md-12">
                <div class="">
                    <div class="inner text-white">
                        <p>
                            &copy; @DateTime.Now.Year @GlobalConstants.DataGateFullFooterDisplay
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}