@using DataGate.Common
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    this.ViewData["Title"] = Localizer["Home Page"];
    this.Layout = "_LayoutHome";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="Scripts/_CookieConsentPartial" />

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-12 logo-pharus">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Layer_Logo.png" height="180" width="180">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-text-pharus">
                <h1 class="text-white text-pharus">@Localizer["Welcome To"] <span class="bold-text-pharus">Pharus</span> Management<br>DataGate @Localizer["Platform"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pharus-btn">
                <a asp-area="Identity" asp-page="/Account/Login">
                    <img id="img-login-home" src="~/images/Login_Button_Home.png" width="300">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-pharus mb-5">
                    <div class="inner text-white">
                        <p>
                            <a class="text-white a-underline mr-1" asp-area="Identity" asp-controller="Account" asp-action="Privacy">@SharedLocalizer["Privacy Policy"]</a>
                            <a class="text-white a-underline mr-1" asp-area="Identity" asp-controller="Account" asp-action="Cookie">@SharedLocalizer["Cookie Policy"]</a>
                            <a class="text-white a-underline mr-1" asp-area="Identity" asp-controller="Account" asp-action="Copyright">@SharedLocalizer["Copyright Policy"]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-pharus mt-5">
                    <div class="inner text-white">
                        <p>
                            &copy; @DateTime.Now.Year @GlobalConstants.DataGateFullFooterDisplay
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}