@using DataGate.Common
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    this.ViewData["Title"] = SharedLocalizer["Home Page"];
    this.Layout = "_LayoutHome";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="Scripts/_CookieConsentPartial" />

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-12 container-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Layer_Logo.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-text-pharus">
                <h1 class="text-white text-pharus">
                    @SharedLocalizer["Welcome To"]
                    Pharus Management<br>DataGate
                    @SharedLocalizer["Platform"]
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pharus-btn container-btn-login">
                <a asp-area="Identity" asp-page="/Account/Login">
                    <img src="~/images/Login_Button_Home.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-pharus mb-5">
                    <div class="inner text-white">
                        <p>
                            <a class="text-white a-underline mr-1" asp-area="" asp-route="privacy">@SharedLocalizer["Privacy Policy"]</a>
                            <a class="text-white a-underline mr-1" asp-area="" asp-route="cookie">@SharedLocalizer["Cookie Policy"]</a>
                            <a class="text-white a-underline mr-1" asp-area="" asp-route="conditions">@SharedLocalizer["Conditions of Use"]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-pharus mt-5">
                    <div class="inner text-white">
                        <p>
                            &copy; @DateTime.Now.Year @GlobalConstants.DataGateFullFooterDisplay
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}